<template>
    <div>
        <div>
            <img :src="imageUrl" ref="imageUrl" height="150" @click="onPickFile" style="cursor: pointer;">
        </div>
        <div>
            <v-btn raised @click="onPickFile" v-if="!imageUrl">
                {{ selectLabel }}
            </v-btn>
            <v-btn raised class="error" @click="removeFile" v-else>
                {{ removeLabel }}
            </v-btn>
            <input type="file" ref="image" name="image" :accept="accept" @change="onFilePicked">
        </div>
    </div>
</template>

<script>
    import axios from 'axios'
    export default {
        props: {
            value: {
                type: String
            },
            accept: {
                type: String,
                default: '*'
            },
            selectLabel: {
                type: String,
                default: 'Seleccione una imagen'
            },
            cargarunaimagen: {
                type: String,
                default: 'cargue una imagen'
            },
            removeLabel: {
                type: String,
                default: 'Remover'
            }
        },

        data() {
            return {
                imageUrl: '',
                files:null
            }
        },
        mounted() {
            this.imageUrl = this.value
        },

        methods: {
            onPickFile() {
                this.$refs.image.click()
            },

            onFilePicked(event) {
                var bandera = '';
                var render = '';
                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};
                const files = event.target.files || event.dataTransfer.files
                let me=this;
                
                if (files && files[0]) {
                    let filename = files[0].name

                    if (filename && filename.lastIndexOf('.') <= 0) {
                        return //return alert('Please add a valid image!')
                    }
                    const fileReader = new FileReader();
                    fileReader.addEventListener('load', () => {
                        this.imageUrl = fileReader.result;
                        bandera = fileReader.result;
                        //console.log(this.imageUrl)
                        
                        /*axios.post('api/Imagenes/crear',{
                        'nombre': "prueba",
                        'imagen': this.imageUrl
                        },configuracion).then(function(response){ 
                            console.log("listo2");                     
                        }).catch(function(error){
                            console.log(error);
                        });*/
                        this.b64toBlob(this.imageUrl);

                    })
                    fileReader.readAsDataURL(files[0])
                    //console.log(fileReader)

                    this.$emit('input', files[0])
                }
            },
            removeFile() {
                this.imageUrl = ''
            },
             b64toBlob(b64Data, contentType, sliceSize) {

                let header={"Authorization" : "Bearer " + this.$store.state.token};
                let configuracion= {headers : header};


                contentType = contentType || '';
                sliceSize = sliceSize || 256;
                
                var block = b64Data.split(";");
                var contentType = block[0].split(":")[1];
                var base64ImageContent = block[1].split(",")[1];
                var byteCharacters = atob(base64ImageContent);
                var byteArrays = [];

                for (var offset = 0; offset < byteCharacters.length; offset += sliceSize) {
                    var slice = byteCharacters.slice(offset, offset + sliceSize);

                    var byteNumbers = new Array(slice.length);
                    for (var i = 0; i < slice.length; i++) {
                        byteNumbers[i] = slice.charCodeAt(i);
                    }

                    var byteArray = new Uint8Array(byteNumbers);

                    byteArrays.push(byteArray);
                }
                //debugger;
                var blob = new Blob(byteArrays, {type: contentType});
                axios.post('api/Imagenes/crear',{
                    'nombre': "prueba con blob",
                    'imagen': this.imageUrl,
                    'imagenblob':blob
                },configuracion).then(function(response){ 
                    console.log("listo");                     
                }).catch(function(error){
                    console.log(error);
                });
            },
            b64toBlob(b64, onsuccess, onerror) {
                var img = new Image();
                img.onerror = onerror;
                img.onload = function onload() {
                    var canvas = document.createElement('canvas');
                    canvas.width = img.width;
                    canvas.height = img.height;
                    var ctx = canvas.getContext('2d');
                    ctx.drawImage(img, 0, 0, canvas.width, canvas.height);
                    canvas.toBlob(onsuccess);
                };
                img.src = b64;
                var base64Data = this.imageUrl;
                b64toBlob(base64Data, function(blob) {
                        var url = window.URL.createObjectURL(blob);
                        // do something with url
                    }, function(error) {
                        // handle error
                    });
            }
        }
    }
</script>

<style scoped>
    input[type=file] {
        position: absolute;
        left: -99999px;
    }
</style>