<template>
  <v-layout align-start>
    <v-container fluid grid-list-sm>
      <!--VENTANA DE REGISTROS-->

      <!--VENTANA IMAGEN y animacion de carga-->

      

      <v-dialog v-model="dialogiamgen" height="550px" width="600px" persistent>
        <template>
            <v-dialog v-model="dialogCargaImagen" hide-overlay persistent width="300">
        <v-card color="primary" dark>
          <v-card-text>
             {{this.infoload}}
            <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
          </v-card-text>
        </v-card>
      </v-dialog>
          <v-card>
            <v-img
              class="white--text grey darken-4"
              height="500px"
              width="600px"
              :src="imageUrl"
              aspect-ratio="2"
            >
              <v-container fill-height fluid>
                <v-layout fill-height>
                  <v-flex xs12 align-end flexbox>
                    <span class="headline"></span>
                  </v-flex>
                </v-layout>
              </v-container>
            </v-img>
            
            <v-card-actions>
              <v-btn raised @click="onPickFile" v-if="!imageUrl">{{ selectLabel }}</v-btn>
              <v-btn raised class="error" @click="removeFile" v-else>{{ removeLabel }}</v-btn>
              <input type="file" ref="image" name="image" :accept="accept" @change="onFilePicked" />

              <v-btn @click="OculatarImagen()" flat color="orange">CERRAR</v-btn>
              <v-btn flat color="orange">CAMBIAR IMAGEN</v-btn>
            </v-card-actions>
          </v-card>
        </template>
      </v-dialog>

      <!-- DIALOG BUSCAR MAQUINA-->
      <v-dialog v-model="verMaquinas" max-width="500">
        <v-card>
          <v-card-title>
            <span class="headline">Seleccione una Maquina</span>
            <v-flex xs12 sm1 md1 lg1 xl2>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn @click="listarMaquinas()" small fab dark color="teal" v-on="on">
                    <v-icon dark>cached</v-icon>
                  </v-btn>
                </template>
                <span>Actualizar lista maquinas</span>
              </v-tooltip>
            </v-flex>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12 lg12 xl12>
                  <template>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="buscarmaquina"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                    <v-data-table
                      :headers="cabeceraMaquinas"
                      :items="maquinas"
                      :search="buscarmaquina"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">
                          <v-icon
                            medium
                            class="mr-2"
                            @click="agregarMaquina(props.item) "
                          >add_circle</v-icon>
                        </td>
                        <td>{{ props.item.nombre }}</td>
                        <td>{{props.item.area}}</td>
                      </template>

                      <template slot="no-data">
                        <h3>No hay maquinas para mostrar.</h3>
                      </template>
                    </v-data-table>
                  </template>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="ocultarMaquinas()" color="blue darken" flat>Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- DIALOG BUSCAR SUCESSO-->
      <v-dialog v-model="verSucesos" max-width="500">
        <v-card>
          <v-card-title>
            <span class="headline">Relacionada con :</span>
            <v-flex xs12 sm1 md1 lg1 xl2>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn @click="listarSuceso()" small fab dark color="teal" v-on="on">
                    <v-icon dark>cached</v-icon>
                  </v-btn>
                </template>
                <span>Actualizar lista Relacion</span>
              </v-tooltip>
            </v-flex>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12 lg12 xl12>
                  <template>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="buscarsuceso"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                    <v-data-table
                      :headers="cabeceraSuceso"
                      :items="sucesosdata"
                      :search="buscarsuceso"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">
                          <v-icon medium class="mr-2" @click="agregarSuceso(props.item) ">add_circle</v-icon>
                        </td>
                        <td>{{ props.item.nombre }}</td>
                      </template>

                      <template slot="no-data">
                        <h3>No hay sucesos para mostrar.</h3>
                      </template>
                    </v-data-table>
                  </template>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="ocultarSuceso()" color="blue darken" flat>Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!-- DIALOG ANOMALIAS-->
      <v-dialog v-model="verAnomalias" max-width="500">
        <v-card>
          <v-card-title>
            <span class="headline">Seleccione una Anomalia</span>

            <v-flex xs12 sm1 md1 lg1 xl2>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn @click="listarAnomalia()" small fab dark color="teal" v-on="on">
                    <v-icon dark>cached</v-icon>
                  </v-btn>
                </template>
                <span>Actualizar lista anomalias</span>
              </v-tooltip>
            </v-flex>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12 lg12 xl12>
                  <template>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="buscaranomalia"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                    <v-data-table
                      :headers="cabeceraAnomalias"
                      :items="anomaliasdata"
                      :search="buscaranomalia"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">
                          <v-icon
                            medium
                            class="mr-2"
                            @click="agregarAnomalia(props.item)"
                          >add_circle</v-icon>
                        </td>
                        <td>{{ props.item.nombre }}</td>
                        <td>{{ props.item.descripcion }}</td>
                      </template>
                      <template slot="no-data">
                        <h3>No hay anomalias para mostrar.</h3>
                      </template>
                    </v-data-table>
                  </template>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="ocultarAnomalia()" color="blue darken" flat>Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <v-container grid-list-sm class="pa-4 white" v-if="verNuevo">
        <v-layout row wrap>
          <!--Atributos del fomulario-->

          <v-flex xs12 sm4 md4 lg4 xl2>
            <v-overflow-btn class="my-0" :items="pasoma" label="Paso MA" v-model="tarjetapasoma"></v-overflow-btn>
          </v-flex>
          <v-flex xs12 sm4 md4 lg4 xl2>
            <v-select v-model="idarea" :items="areas" label="Area"></v-select>
          </v-flex>
          <v-flex xs12 sm4 md4 lg4 xl4>
            <v-radio-group v-model="tarjetacriticidad" row label="Criticidad" :mandatory="false">
              <v-radio label="A" value="A"></v-radio>
              <v-radio label="B" value="B"></v-radio>
              <v-radio label="C" value="C"></v-radio>
            </v-radio-group>
          </v-flex>
          <v-flex xs12 sm3 md3 lg3 xl2>
            <v-text-field readonly v-model="nombremaquina" label="Maquina"></v-text-field>
          </v-flex>
          <v-flex xs12 sm1 md1 lg1 xl2>
            <v-btn @click="mostrarMaquinas()" small fab dark color="teal">
              <v-icon dark>list</v-icon>
            </v-btn>
          </v-flex>
          <v-flex xs12 sm3 md3 lg3 xl2>
            <v-text-field readonly v-model="nombreanomalia" label="Anomaila"></v-text-field>
          </v-flex>
          <v-flex xs12 sm1 md1 lg1 xl2>
            <v-btn @click="mostrarAnomalia()" small fab dark color="teal">
              <v-icon dark>list</v-icon>
            </v-btn>
          </v-flex>
          <v-flex xs12 sm3 md3 lg3 xl2>
            <v-text-field readonly v-model="nombresuceso" label="Relacionada con:"></v-text-field>
          </v-flex>
          <v-flex xs12 sm1 md1 lg1 xl2>
            <v-btn @click="mostrarSuceso()" small fab dark color="teal">
              <v-icon dark>list</v-icon>
            </v-btn>
          </v-flex>
          <v-flex xs12 sm6 md6 lg6 xl2>
            <v-textarea
              clearable
              clear-icon="cancel"
              rows="2"
              label="Descripción detallada de la anomalía:"
              value
              v-model="tarjetadescripcion"
            ></v-textarea>
          </v-flex>
          <v-flex>
            <div>
              <div>
                <img
                  :src="imageUrl"
                  ref="imageUrl"
                  height="150"
                  @click="onPickFile"
                  style="cursor: pointer;"
                />
              </div>
              <div>
                <v-btn raised @click="onPickFile" v-if="!imageUrl">{{ selectLabel }}</v-btn>
                <v-btn raised class="error" @click="removeFile" v-else>{{ removeLabel }}</v-btn>
                <input type="file" ref="image" name="image" :accept="accept" @change="onFilePicked" />
              </div>
            </div>
          </v-flex>

          <v-flex xs12 sm2 md2 lg2 xl2 v-if="errorArticulo">
            <div class="red--text" v-text="errorArticulo"></div>
          </v-flex>

          <v-flex xs12 sm12 md12 lg12 xl12>
            <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v"></div>
          </v-flex>
          <v-flex xs12 sm12 md12 lg12 xl12>
            <v-btn @click="ocultarNuevo()" color="blue darken-1" flat>Cancelar</v-btn>
            <v-btn :loading="loading" :disabled="loading" @click="guardar()" color="success">Guardar</v-btn>
          </v-flex>
        </v-layout>
      </v-container>

      <!--NOTIFICACIONES-->
      <v-snackbar v-model="snackbar" :timeout="this.timeout" color="success">{{textsnackbar}}</v-snackbar>
      <!--VENTANA CONFIRMACION DE ASIGNACION-->

      <v-dialog v-model="dialogconfirmar" persistent max-width="290">
        <v-card>
          <v-card-title class="headline" v-text="this.codigo"></v-card-title>
          <v-card-text>
            <v-flex xs12 sm12 md12 lg12 xl2>
              <v-textarea
                clearable
                clear-icon="cancel"
                label="Ingrese la solución Implementada:"
                value
                v-model="solucionimplentada"
              ></v-textarea>
            </v-flex>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>

            <v-spacer></v-spacer>
            <v-btn
              v-if="this.solucionimplentada"
              color="green darken-1"
              @click="confirmarSolucion"
            >Confirmar</v-btn>
            <v-btn color="green darken-1" flat @click="dialogconfirmar = false">Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!--VENTANA DETALLES -->
      <template>
        <v-dialog v-model="dialog" max-width="450">
          <v-card max-width="450" class="mx-auto">
            <v-card-title>
              <v-flex xs6>
                <v-layout wrap>
                  <v-flex xs12 align-start class="subtitle-1 text-xs-center black--text">
                    <v-alert
                      :value="true"
                      color="info"
                      dense
                      outline
                      class="pa-0"
                    >Tarjeta de Anomalia</v-alert>
                  </v-flex>
                  <v-flex xs12 class="body-1 text-xs-center blue darken-3 white--text">
                    <h2>OPERADOR</h2>
                  </v-flex>

                  <v-flex xs12 align-start class="subtitle-1 text-xs-center black--text">
                    <v-alert :value="true" color="info" dense outline class="pa-0">.</v-alert>
                  </v-flex>
                </v-layout>
                <v-flex xs12 class="pa-0 ma-0">
                  <p
                    class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                  >Area : {{this.area}}</p>
                </v-flex>

                <v-flex xs12 class="pa-0 ma-0">
                  <p
                    class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                  >Maquina : {{this.maquina}}</p>
                </v-flex>
              </v-flex>
              <v-layout wrap>
                <v-flex xs12>
                  <v-flex
                    xs12
                    class="subtitle-1 black--text pa-0 ma-4 subtitle-1 text-xs-center red--text"
                  >
                    <h2>{{this.codigo}}</h2>
                  </v-flex>

                  <v-flex xs12>
                    <v-flex xs12 class="pa-0 ma-0">
                      <p
                        class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                      >Nombre : {{this.nombre_usuario}}</p>
                    </v-flex>
                    <v-flex xs12 class="pa-0 ma-0">
                      <p
                        class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                      >Fecha : {{this.emision_ts}}</p>
                    </v-flex>
                    <v-flex xs12 class="pa-0 ma-0">
                      <p
                        class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                      >Paso MA : {{this.paso_ma}}</p>
                    </v-flex>
                    <v-flex xs12 class="pa-0 ma-0">
                      <p
                        class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                      >Criticidad : {{this.criticidad}}</p>
                    </v-flex>
                    <v-flex xs12 class="pa-0 ma-0">
                      <p
                        class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                      >Turno : {{this.turno}}</p>
                    </v-flex>
                  </v-flex>
                </v-flex>
              </v-layout>
            </v-card-title>
            <v-card-text class="pa-0 ma-0">
              <v-layout justify-center align-center wrap>
                <v-flex xs6>
                  <p
                    class="caption pa-1 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                  >Anomalía :</p>
                </v-flex>
                <v-flex xs6>
                  <p
                    class="caption pa-1 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                  >Relacionada con :</p>
                </v-flex>

                <v-flex class="pink ligthten-1 white--text" xs6>
                  <p
                    class="caption pa-1 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                  >{{this.anomaliac}}</p>
                </v-flex>

                <v-flex class="pink ligthten-1 white--text" xs6>
                  <p
                    class="caption pa-1 ma-0 blue darken-3 white--text subtitle-1 text-xs-left"
                  >{{this.relacionado}}</p>
                </v-flex>
              </v-layout>

              <v-layout justify-center align-center wrap class="pa-0 ma-0">
                <v-flex xs12>
                  <p
                    class="caption pa-2 ma-0 indigo darken-4 white--text subtitle-1 text-xs-left"
                  >Descripción detallada de la anomalía:</p>
                </v-flex>
              </v-layout>

              <v-layout justify-center align-center wrap class="pa-0 ma-0">
                <v-flex xs12>
                  <v-card class="mx-auto">
                    <v-card-text>{{this.descripcion}}</v-card-text>
                  </v-card>
                </v-flex>
              </v-layout>
            </v-card-text>
            <v-card-actions>
              <v-btn @click="ocultarDetalle()">CERRAR</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </template>

      <template v-if="this.verListaTarjetas==true">
        <v-toolbar flat color="white">
          <div class="text-center" v-if="this.idtarjeta==1">
            <v-avatar>
              <!--<img :src="require('../')" alt="avatar" />-->
            </v-avatar>
          </div>

          <v-toolbar-title>Lista de Ingreso</v-toolbar-title>
          <v-divider class="mx-2" inset></v-divider>
          <v-spacer></v-spacer>
          <v-text-field
            class="text-xs-center"
            v-model="search"
            append-icon="search"
            label="Búsqueda"
            single-line
            hide-details
          ></v-text-field>
          <v-spacer></v-spacer>

          <v-btn v-if="verNuevo==0" @click="mostrarNuevo(1)" color="#64DD17" fab dark>
            <v-icon>post_add</v-icon>
          </v-btn>

          <v-btn v-if="verNuevo==0" @click="mostrarNuevo(1)" color="#0288D1" fab dark>
            <v-icon>search</v-icon>
          </v-btn>
        </v-toolbar>
        <v-divider></v-divider>

          <v-data-iterator
            :items="itemsdata"
            :search="search"
            :rows-per-page-items="rowsPerPageItems"
            :pagination.sync="pagination"
            content-tag="v-layout"
            row
            wrap
          >
            <template v-slot:item="props">
              <v-flex xs12 sm3 md3 lg3 xl3>
                <v-hover>
                  <v-card
                    slot-scope="{ hover }"
                    :class="`elevation-${hover ? 12 : 2}`"
                    class="mx-auto"
                  >
                    <v-container>
                      <v-layout justify-center align-center>
                        <v-flex xs11>
                          <template v-if="props.item.idtarjeta === 1">
                            <v-chip color="red" class="ma-2" text-color="black">
                              <v-icon left>build</v-icon>
                              <div
                                class="subtitle-1 text-md-center font-weight-light"
                              >{{props.item.codigo}} MTTO</div>
                            </v-chip>
                          </template>
                          <template v-if="props.item.idtarjeta === 2">
                            <v-chip color="primary" class="ma-2" text-color="black">
                              <v-avatar left>
                                <v-icon>account_circle</v-icon>
                              </v-avatar>
                              <div
                                class="subtitle-1 text-md-center font-weight-light"
                              >{{props.item.codigo}} OPERADOR</div>
                            </v-chip>
                          </template>
                          <template v-if="props.item.idtarjeta === 3">
                            <v-chip color="yellow" class="ma-2" text-color="black">
                              <v-avatar left>
                                <v-icon>public</v-icon>
                              </v-avatar>
                              <div
                                class="subtitle-1 text-md-center font-weight-light"
                              >{{props.item.codigo}} INGENIERIA</div>
                            </v-chip>
                          </template>
                        </v-flex>

                        <v-flex xs1>
                          <template v-if="props.item.criticidad==='A'">
                            <div class="headline">
                              <span class="red--text">{{props.item.criticidad}}</span>
                            </div>
                          </template>
                          <template v-if="props.item.criticidad==='B'">
                            <div class="headline">
                              <span class="yellow--text">{{props.item.criticidad}}</span>
                            </div>
                          </template>
                          <template v-if="props.item.criticidad==='C'">
                            <div class="headline">
                              <span class="green--text">{{props.item.criticidad}}</span>
                            </div>
                          </template>
                        </v-flex>
                      </v-layout>
                    </v-container>

                    <template>
                      <v-flex .align-start xs12>
                        <div>
                          <v-alert
                            :value="true"
                            color="#37474F"
                            outline
                            prominent
                            border="left"
                            elevation="2"
                          >
                            <p
                              align="center"
                              class="text-justify font-weight-bold"
                            >{{props.item.descripcion}}</p>
                          </v-alert>
                        </div>
                      </v-flex>
                    </template>

                    <v-card-title>
                      <v-flex xs12>
                        <v-list two-line>
                          <template>
                            <v-divider></v-divider>
                            <v-list-tile>
                              <v-flex xs3 align="start">
                                <v-list-tile-avatar>
                                  <!--<img :src="require('../../../../assets/avatar.jpg')" />-->
                                </v-list-tile-avatar>
                              </v-flex>
                              <v-divider></v-divider>
                              <v-flex xs9>
                                <v-list-tile-content>
                                  <v-list-tile-title v-html="props.item.usuario"></v-list-tile-title>
                                  <v-list-tile-sub-title v-html="props.item.area"></v-list-tile-sub-title>
                                  <v-list-tile-sub-title v-html="props.item.maquina"></v-list-tile-sub-title>
                                </v-list-tile-content>
                              </v-flex>
                            </v-list-tile>
                            <v-divider></v-divider>
                            <div class="caption">Emision: {{props.item.emision_ts}}</div>
                          </template>
                        </v-list>
                      </v-flex>
                    </v-card-title>
                    <v-card-actions>
                      <v-layout>
                        <v-flex xs3>
                          <v-btn flat icon color="#64DD17" @click="editItemConfirmar(props.item)">
                            <v-icon>done_outline</v-icon>
                          </v-btn>
                        </v-flex>
                        <v-flex xs3>
                          <v-btn flat icon color="#0277BD" @click="editItem(props.item)">
                            <v-icon>launch</v-icon>
                          </v-btn>
                        </v-flex>
                        <v-flex xs3>
                          <v-btn flat icon color="#E65100" @click="Verfoto(props.item)">
                            <v-icon>present_to_all</v-icon>
                          </v-btn>
                        </v-flex>
                        <v-flex xs3>
                          <v-btn flat icon color="#455A64" @click="Verfoto(props.item)">
                            <v-icon>edit</v-icon>
                          </v-btn>
                        </v-flex>
                      </v-layout>
                    </v-card-actions>
                  </v-card>
                </v-hover>
              </v-flex>
            </template>
          </v-data-iterator>
      </template>
    </v-container>
  </v-layout>
</template>
  


<script>
import axios from "axios";
import { all } from "q";
export default {
  props: {
    value: {
      type: String
    },
    accept: {
      type: String,
      default: "*"
    },
    selectLabel: {
      type: String,
      default: "Seleccione una imagen"
    },
    cargarunaimagen: {
      type: String,
      default: "cargue una imagen"
    },
    removeLabel: {
      type: String,
      default: "Remover"
    }
  },
  data() {
    return {
      imageUrl: "",
      imagen_anomalia: null,
      files: null,
      dialog: false,
      show: false,
      search: "",
      rowsPerPageItems: [4, 8, 12, 50],
      pagination: {
        rowsPerPage: 4
      },
      pasoma: [0, 1, 2, 3, 4, 5, 6, 7],
      menu2: false,
      areas: [],
      // SNACKBAS NOTIFICACIONS
      color: "",
      snackbar: false,
      textsnackbar: "My timeout is set to 2000.",
      timeout: 2000,
      x: "right",
      y: "top",
      anomalias: [],

      itemsdata: [],
      datasrc: [],
      // variables
      codigo: "",
      idanomalia: "",
      nombre_anomalia: "",
      emision_ts: "",
      id_usuario: "",
      nombre_usuario: "",
      maquina: "",
      anomaliac: "",
      relacionado: "",
      tarjeta: "",
      idtarjeta: 0,
      descripcion: "",
      paso_ma: "",
      criticidad: "",
      turno: "",
      area: "",
      relacionado: "",
      dialogconfirmar: false,
      snackbar: false,
      timeout: 2000,
      mensajesnack: "",
      tarjetauser: "",
      verNuevo: 0,

      errorArticulo: null,
      //variables de maquina
      buscarmaquina: "",
      idmaquina: "",
      nombremaquina: "",
      maquinas: [],
      verMaquinas: 0,
      showbuscarmaquinatooltip: false,
      //variables de areas
      idarea: "",
      nombrearea: "",
      //variables de anomalias
      buscaranomalia: "",
      idanomalia: "",
      nombreanomalia: "",
      anomaliasdata: [],
      verAnomalias: 0,
      //variables de registro sucesos
      buscarsuceso: "",
      idsuceso: "",
      nombresuceso: "",
      sucesosdata: [],
      verSucesos: 0,

      id: "",
      idproveedor: "",
      areas: [],

      idusuariotarjeta: "",
      tarjetanombre: "",
      tarjetafecha: "",
      tarjetapasoma: -1,
      tarjetacriticidad: "",
      tarjetaturno: "",
      tarjtadecripcion: "",
      tarjetasol_implementada: "",
      tarjetaidtecnico: 2,
      tarjetaconfirmacion_tec: false,
      tarjetaidsupervisor: 2,
      tarjetaconfirmacion_super: false,
      tarjetaobservaciones: "",
      tarjetaprog: false,
      tarjetaeliminado: false,
      tarjetadescripcion: "",
      tarjetaidtarjeta: 1,
      //auxiliadres
      loading: false,
      verMenuTarjetas: true,
      verListaTarjetas: true,
      botonlista: false,
      dialogiamgen: false,
      detalles: [],
      dialogCargaImagen: false,
      infoload:"carga de imagen en",

      src: "null",

      //Confimacion
      solucionimplentada: "",

      verNuevo: 0,
      errorArticulo: null,

      cabeceraMaquinas: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Maquina", value: "nombre", sortable: false },
        { text: "Area", value: "area", sortable: false }
      ],
      cabeceraAnomalias: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Anomalia", value: "nombre", sortable: false },
        { text: "Descripcion", value: "descripcion", sortable: false }
      ],
      cabeceraSuceso: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Anomalia", value: "nombre" }
      ],
      articulos: [],
      texto: "",
      valida: 0,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adNombre: "",
      adId: ""
    };
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      setTimeout(() => (this[l] = false), 3000);

      this.loader = null;
    }
  },
  created() {
    this.listarsinfoto(1);
    //this.seleccionautomaticotarjeta();
    //this.listarMaquina();
    // this.listarAnomalia();
    //this.listarSuceso();
    //let me=this;
    //this.idusuariotarjeta=this.$store.state.usuario.idusuario;
    this.select();
  },
  methods: {
    mostrarNuevo(nrotarjeta) {
      this.verNuevo = 1;
      this.idtarjeta = nrotarjeta;
      this.verMenuTarjetas = false;

      this.verListaTarjetas = false;
    },
    ocultarNuevo() {
      this.verMenuTarjetas = true;
      this.verNuevo = 0;
      this.limpiar();
      this.verListaTarjetas = true;
    },
    editItem(item) {
      this.idmaquina = item.idmaquina;
      this.codigo = item.codigo;
      this.idanomalia = item.idregistroanomalia;
      this.nombre_anomalia = item.nombre;
      this.emision_ts = item.emision_ts;
      this.id_usuario = item.id_usuario;
      (this.nombre_usuario = item.usuario), (this.maquina = item.maquina);
      this.anomaliac = item.anomaliac;
      this.relacionado = item.relacionado;
      this.tarjeta = item.tarjeta;
      this.descripcion = item.descripcion;
      this.paso_ma = item.paso_ma;
      this.criticidad = item.criticidad;
      this.turno = item.turno;
      this.area = item.area;
      this.relacionado = item.relacionado;

      //this.editedIndex=1;
      this.dialog = true;
    },

    ocultarDetalle() {
      this.dialog = false;
    },

    OculatarImagen() {
      this.dialogiamgen = false;
      //this.datasrc = [];
      this.imageUrl='';
    },

    Verfoto(item) {
      this.dialogiamgen = true;
      this.listarfoto(item.idregistroanomalia);

      //this.editedIndex=1;
      //this.dialog = true
    },
    ControlImagenCargaLoad(texto,acccion){
        
        this.dialogCargaImagen = acccion;
        this.infoload=texto;
    },
    listarfoto(id) {
      let me = this;
       this.ControlImagenCargaLoad("Cargando imagen espere........",true)
      this.idregistroanomalia = id;
      axios
        .get("api/DetalleFotoAnomalias/VerFotoIngreso/" + me.idregistroanomalia)
        .then(function(response) {
          //console.log(response);
          me.datasrc = response.data;
          me.imageUrl = me.datasrc[0].foto_anomalia;
         me.ControlImagenCargaLoad("texto",0)

          // me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
          me.ControlImagenCargaLoad("texto",0)
        });
    },

    listarsinfoto(tarjeta) {
      let me = this;
      this.idtarjeta = tarjeta;
      var bandera1;
      this.ControlImagenCargaLoad("Cargando datos espere........",true)
      axios
        .get("api/RegistrosAnomalias/ListarTipoTarjeta/" + me.idtarjeta)
        .then(function(response) {
          //console.log(response);
          me.itemsdata = response.data;

          me.verListaTarjetas = true;
          me.ControlImagenCargaLoad("C",0)
        })
        .catch(function(error) {
          console.log(error);
          me.ControlImagenCargaLoad("C",0)

        });
    },

    VerMenuTarjetasLista() {
      this.verMenuTarjetas = true;
      //this.verNuevo=true;
      this.verListaTarjetas = false;
    },

    confirmarStado() {
      let me = this;
      axios
        .put("api/RegistrosAnomalias/AsignarTecnico", {
          idregistroanomalia: me.idanomalia,
          idtecnico: me.$store.state.usuario.idusuario
        })
        .then(function(response) {
          me.close();
          me.listar();
          me.limpiar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    confirmarSolucion() {
      let me = this;
      axios
        .put("api/RegistrosAnomalias/AplicarContramedida", {
          idregistroanomalia: me.idanomalia,
          sol_implementada: me.solucionimplentada,
          idtecnico: me.$store.state.usuario.idusuario
        })
        .then(function(response) {
          me.close();
          me.listarsinfoto(me.idtarjeta);
          me.limpiar();
          //me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    close() {
      this.dialogconfirmar = false;
      this.snackbar = true;
      this.textsnackbar = "Operacion exitosa";
    },
    limpiar() {
      this.tarjetanombre = "";
      this.tarjetapasoma = -1;
      (this.tarjetacriticidad = ""), (this.idarea = ""), (this.nombrearea = "");
      this.idmaquina = "";
      this.nombremaquina = "";
      this.idanomalia = "";
      this.nombreanomalia = "";
      this.idsuceso = "";
      this.nombresuceso = "";
      this.tarjetadescripcion = "";
      this.solucionimplentada = "";
    },

    abrirventanaconfirmar() {
      this.confirmar = true;
    },

    editItemConfirmar(item) {
      this.idanomalia = item.idregistroanomalia;
      //this.editedIndex=1;
      this.codigo = item.codigo;
      this.dialogconfirmar = true;
    },
    seleccionautomaticotarjeta() {
      let me = this;
      if (this.$store.state.usuario.rol == "Mantenimiento") {
        this.tarjetauser = 1;
      } else if (this.$store.state.usuario.rol == "Operador") {
        this.tarjetauser = 2;
      }
    },
    //METODOS DE MAQUINAS
    listarMaquina() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Maquinas/ListarMaquinas/", configuracion)
        .then(function(response) {
          //console.log(response);
          me.maquinas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarMaquinas() {
      this.verMaquinas = 1;
      this.listarMaquina();
    },
    ocultarMaquinas() {
      this.verMaquinas = 0;
    },
    agregarMaquina(data = []) {
      this.idmaquina = data["idmaquina"];
      this.nombremaquina = data["nombre"];
      this.verMaquinas = 0;
      this.snackbar = true;
      this.color = "success";

      this.textsnackbar = "Maquina seleccionada" + " " + this.nombremaquina;
    },
    //METODOS ANOMALIAS LISTAR
    listarAnomalia() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Anomalias/ListarAnomalias/", configuracion)
        .then(function(response) {
          //console.log(response);
          me.anomaliasdata = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarAnomalia() {
      this.listarAnomalia();
      this.verAnomalias = 1;
    },
    ocultarAnomalia() {
      this.verAnomalias = 0;
    },

    agregarAnomalia(data = []) {
      this.idanomalia = data["idanomalia"];
      this.nombreanomalia = data["nombre"];
      this.verAnomalias = 0;
      this.verMaquinas = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Anomalia seleccionada" + " " + this.nombreanomalia;
    },
    // METODOS DE SUCESOS RELACIONADO
    listarSuceso() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Sucesos/ListarSucesos/", configuracion)
        .then(function(response) {
          //console.log(response);
          me.sucesosdata = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarSuceso() {
      this.verSucesos = 1;
      this.listarSuceso();
    },
    ocultarSuceso() {
      this.verSucesos = 0;
    },

    agregarSuceso(data = []) {
      this.idsuceso = data["idsuceso"];
      this.nombresuceso = data["nombre"];
      this.verSucesos = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Relacionado con " + " " + this.nombresuceso;
    },
    ///  FIN DE METODOS SUCESOS
    guardar() {
      if (this.validar()) {
        return;
      }
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      let me = this;
      this.loading = true;

      if (this.imageUrl == "") {
        this.imageUrl = me.src;
        //console.log("entra");
      }
      //console.log("algo "+this.imageUrl)

      axios
        .post(
          "api/RegistrosAnomalias/CrearAnomalias",
          {
            nombre: me.tarjetanombre,
            //'emision_ts':me.tarjetafecha,
            idusuario: this.$store.state.usuario.idusuario,
            paso_ma: me.tarjetapasoma,
            criticidad: me.tarjetacriticidad,
            idarea: me.idarea,
            idmaquina: me.idmaquina,
            idanomalia: me.idanomalia,
            idsuceso: me.idsuceso,
            idtarjeta: me.idtarjeta,
            descripcion: me.tarjetadescripcion,
            //foto_anomalia: me.imageUrl
            detalles: [
              { foto_anomalia: me.imageUrl, tipo_foto: "Ingreso", eliminado: 0 }
            ]
          },
          configuracion
        )
        .then(function(response) {
          me.loading = false;
          me.ocultarNuevo();
          me.listarsinfoto(me.idtarjeta);
          me.limpiar();
          me.mostrarSnacbar();
          me.verListaTarjetas = true;
          me.removeFile();
        })
        .catch(function(error) {
          me.snackbar = true;
          me.color = "#C62828";
          me.textsnackbar = "Error en la operacion intente mas tarde";
          me.loading = false;
          me.verListaTarjetas = true;
          me.removeFile();
          console.log(error);
        });
    },
    /// METODO SNACBAR
    mostrarSnacbar() {
      this.verSucesos = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Tarjeta creada exitosa";
    },
    select() {
      let me = this;
      var areasArray = [];
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Areas/SelectAreas", configuracion)
        .then(function(response) {
          areasArray = response.data;
          areasArray.map(function(x) {
            me.areas.push({ text: x.nombre, value: x.idarea });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    validar() {
      this.valida = 0;
      this.validaMensaje = [];

      if (this.tarjetapasoma < 0) {
        this.validaMensaje.push("Seleccioné PASO MA");
      }
      if (!this.tarjetacriticidad) {
        this.validaMensaje.push("Seleccioné criticidad");
      }
      //if (!this.tarjetaturno){
      // this.validaMensaje.push("Seleccioné un turno");
      //}
      if (!this.idarea) {
        this.validaMensaje.push("Seleccioné una area.");
      }
      if (!this.idmaquina) {
        this.validaMensaje.push("Seleccioné una maquina.");
      }
      if (!this.idanomalia) {
        this.validaMensaje.push("Seleccioné una anomalia.");
      }
      if (!this.idsuceso) {
        this.validaMensaje.push("Seleccioné un suceso relacionado.");
      }
      if (!this.tarjetadescripcion) {
        this.validaMensaje.push("Ingrese una descripcion.");
      }

      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },
    onPickFile() {
      this.$refs.image.click();
    },

    onFilePicked(event) {
      var bandera = "";

      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      const files = event.target.files || event.dataTransfer.files;
      let me = this;

      if (files && files[0]) {
        let filename = files[0].name;

        if (filename && filename.lastIndexOf(".") <= 0) {
          return; //return alert('Please add a valid image!')
        }
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.imageUrl = fileReader.result;
          bandera = fileReader.result;
        });
        fileReader.readAsDataURL(files[0]);
        //console.log(fileReader)

        this.$emit("input", files[0]);
      }
    },

    removeFile() {
      this.imageUrl = "";
    }
  }
};
</script>s
<style scoped>
input[type="file"] {
  position: absolute;
  left: -99999px;
}
</style>