<template>
    <v-layout align-start>
        <v-flex>
             
                <v-card  width="100%"  >
                  <v-list-tile two-line>
                      <v-list-tile-content>
                          <span class="title-1">Tarjetas de mantenimiento</span>
                          <span>Atencion Tarjetas Rojas - Acumulado Paso 0</span>
                      </v-list-tile-content>
                  </v-list-tile>

                  <v-card-text>
                      <apexchart type="line" ref="chartMantenimiento" height="450" :options="chartOptionsMantenimiento" :series="seriesMantenimiento"></apexchart>
                  </v-card-text>
              </v-card>
        </v-flex> 
    </v-layout>
</template>

<script>
import axios from 'axios';
export default {
    data(){
        return{ 

          seriesMantenimiento: [],
          Mantenimiento: [],
          chartOptionsMantenimiento: {
            chart: {
              height: 350,
              type: 'line',
              stacked: false
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              width: [1, 1, 4]
            },
            title: {
              text: ' ',
              align: 'left',
              offsetX: 110
            },
            xaxis: {
              categories: [],
            },
            yaxis: [
              {
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: '#7f7f7f'
                },
                labels: {
                  style: {
                    colors: '#7f7f7f',
                  }
                },
                title: {
                  text: "# Tarjetas Rojas Abiertas",
                  style: {
                    color: '#7f7f7f',
                  }
                },
                tooltip: {
                  enabled: true
                }
              },
              {
                seriesName: 'Income',
                opposite: true,
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: '#3f3f3f'
                },
                labels: {
                  style: {
                    colors: '#3f3f3f',
                  }
                },
                title: {
                  text: "Tarjetas Rojas Cerradas",
                  style: {
                    color: '#3f3f3f',
                  }
                },
              },
              {
                seriesName: 'Revenue',
                opposite: true,
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: '#0a0a0a'
                },
                labels: {
                  style: {
                    colors: '#0a0a0a',
                  },
                },
                title: {
                  text: "Tarjetas Rojas Atendidas",
                  style: {
                    color: '#0a0a0a',
                  }
                }
              },
            ],
            tooltip: {
              fixed: {
                enabled: true,
                position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft
                offsetY: 30,
                offsetX: 60
              },
            },
            legend: {
              horizontalAlign: 'left',
              offsetX: 40
            }
          },

          seriesSHE: [],
          SHE: [],
          chartOptionsSHE: {
            chart: {
              height: 350,
              type: 'line',
              stacked: false
            },
            dataLabels: {
              enabled: false
            },
            stroke: {
              width: [1, 1, 1, 4]
            },
            title: {
              text: ' ',
              align: 'left',
              offsetX: 110
            },
            xaxis: {
              categories: [],
            },
            yaxis: [
              {
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: '#7f7f7f'
                },
                labels: {
                  style: {
                    colors: '#7f7f7f',
                  }
                },
                title: {
                  text: "# Tarjetas Rojas Abiertas",
                  style: {
                    color: '#7f7f7f',
                  }
                },
                tooltip: {
                  enabled: true
                }
              },
              {
                seriesName: 'Income',
                opposite: true,
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: '#7f7f7f'
                },
                labels: {
                  style: {
                    colors: '#7f7f7f',
                  }
                },
                title: {
                  text: "Tarjetas Rojas Cerradas",
                  style: {
                    color: '#7f7f7f',
                  }
                },
              },
              {
                seriesName: 'Acumulado',
                opposite: true,
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: 'black'
                },
                labels: {
                  style: {
                    colors: 'black',
                  }
                },
                title: {
                  text: "Tarjetas Rojas Cerradas",
                  style: {
                    color: 'black',
                  }
                },
              },
              {
                seriesName: 'Revenue',
                opposite: true,
                axisTicks: {
                  show: true,
                },
                axisBorder: {
                  show: true,
                  color: '#000000'
                },
                labels: {
                  style: {
                    colors: '#000000',
                  },
                },
                title: {
                  text: "Tarjetas Rojas Atendidas",
                  style: {
                    color: '#000000',
                  }
                }
              },
            ],
            tooltip: {
              fixed: {
                enabled: true,
                position: 'topLeft', // topRight, topLeft, bottomRight, bottomLeft
                offsetY: 30,
                offsetX: 60
              },
            },
            legend: {
              horizontalAlign: 'left',
              offsetX: 40
            }
          },
          
        }
    },
    created(){
        this.chartMantenimiento(); 
        this.chartSHE(); 
    },
    methods:{
        chartMantenimiento(){
            this.Mantenimiento.push(
                {
                    name: 'Tarjetas Rojas Abiertas - Acumuladas',
                    type: 'column',
                    data: [0, 17, 3]
                    }, {
                    name: 'Tarjetas Rojas Cerradas - Acumuladas',
                    type: 'column',
                    data: [0, 2, 1]
                    }, {
                    name: 'Tarjetas Rojas Atendidas - Acumuladas',
                    type: 'line',
                    data: [0, 1, 0]
                }
            );
            this.seriesMantenimiento = this.Mantenimiento;
            this.chartOptionsMantenimiento.xaxis.categories = ['Ene-20', 'Feb-20', 'Mar-20']
        }
        }
        
}
</script>

<style>
body {
  font-family: Roboto, sans-serif;
}

#chart {
  max-width: 650px;
  margin: 35px auto;
}
</style>