
<template>
  <v-layout>
    <v-flex md12>
      <v-card width="100%">
        {{ControlIftarjtea}}
        {{ControlIAnio}}
        {{FormatedoDataReportadas}}
        {{FormatedoDataAtendidas}}
        {{FormatedoDataReportadasB}}
        {{FormatedoDataAtendidasB}}
        {{FormatedoDataReportadasC}}
        {{FormatedoDataAtendidasC}}
        {{FormateoDataABC}}
        <!-- <v-list-tile two-line>
          <v-list-tile-content>
            <v-list-tile-title class="mb-0 mt-1 title"> <h1 class="subheading grey--text">Tabla de Resumen</h1></v-list-tile-title>

          
          </v-list-tile-content>
        </v-list-tile>-->

        <v-card-text>
          <template>
            <el-table
              :data="DataModificadaABC"
              size="mini"
              align="left"
              v-loading="loading"
              element-loading-text="Cargando datos - resumen de tarjetas..."
              :summary-method="getSummaries"
              :header-cell-style="tableHeaderColor"
              stripe
              fit
              :cell-style="{padding: '0', height: '26px'}"
              show-summary
              style="width: 100%; margin-top: 0px"
            >
              >
              <el-table-column fixed :cell-style="tableRowStyle" prop="mes" width="65"></el-table-column>
              <el-table-column :label="ColorTarjeta" align="center">
                <el-table-column label="A" align="center">
                  <el-table-column prop="totalReportA" label="Rep." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalAtenA" label="Aten." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalA" label="%" width="55" align="center"></el-table-column>
                </el-table-column>

                <el-table-column label="B" align="center">
                  <el-table-column prop="totalReportB" label="Rep." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalAtenB" label="Aten." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalB" label="%" width="55" align="center"></el-table-column>
                </el-table-column>
                <el-table-column label="C" align="center">
                  <el-table-column prop="totalReportC" label="Rep." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalAtenC" label="Aten." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalC" label="%" width="55" align="center"></el-table-column>
                </el-table-column>
                <el-table-column label="Total" align="center">
                  <el-table-column prop="totalReportT" label="Rep." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalAtenT" label="Aten." width="50" align="center"></el-table-column>
                  <el-table-column prop="totalT" label="%" width="55" align="center"></el-table-column>
                </el-table-column>
                <el-table-column label="ART" align="center">
                  <el-table-column prop="Días" label="Días" width="55" align="center"></el-table-column>
                </el-table-column>55
              </el-table-column>
            </el-table>
          </template>
        </v-card-text>
      </v-card>
    </v-flex>
  </v-layout>
</template>
            

<script>
import axios from "axios";
export default {
  data() {
    return {
      Meses: [
        { id: 1, mes: "Ene" },
        { id: 2, mes: "Feb" },
        { id: 3, mes: "Mar" },
        { id: 4, mes: "Abr" },
        { id: 5, mes: "May" },
        { id: 6, mes: "Jun" },
        { id: 7, mes: "Jul" },
        { id: 8, mes: "Ago" },
        { id: 9, mes: "Sep" },
        { id: 10, mes: "Oct" },
        { id: 11, mes: "Nov" },
        { id: 12, mes: "Dic" }
      ],
      Anio: 0,
      TipoRepAten: "",
      Criticidad: "",
      idtarjeta: 0,

      DataReportadas: [],
      DataModificadaReportadas: [],
      DataAtendidas: [],
      DataModificadaAtendidas: [],
      //CRITICIDAD B
      DataReportadasB: [],
      DataModificadaReportadasB: [],
      DataAtendidasB: [],
      DataModificadaAtendidasB: [],
      DataModificadaAB: [],
      //CRITICIDAD C
      DataReportadasC: [],
      DataModificadaReportadasC: [],
      DataAtendidasC: [],
      DataModificadaAtendidasC: [],
      DataModificadaABC: [],

      xC: false,
      ColorTarjeta: "",
      anioReporte: "",
      loading: true
    };
  },
  props: {
    color: {
      type: Number,
      default: 0
    },
    controlAnio: {
      type: String,
      default: "Na"
    }
  },

  created() {
    //this.idtarjeta = this.color;
    // this.BorrarData();
    this.AnioActual();
    //this.InicioData();
  },
  mounted() {
    //this.idtarjeta=this.color;
    //console.log("Id actual tarjeta",this.idtarjeta);
  },
  computed: {
    ControlIAnio() {
      if (this.controlAnio) {
        this.anio = this.controlAnio;
        console.log(
          "Cambiando el anio para reporte de la table y actualizando data",
          this.anio
        );
        //console.log("idtareta heredada componente hijo", this.idtarjeta);
        this.BorrarData();
        this.InicioData();
      }
    },
    ControlIftarjtea() {
      if (this.color) {
        this.idtarjeta = this.color;
        console.log("idtareta heredada componente hijo", this.idtarjeta);
        this.BorrarData();
        this.InicioData();
      }
    },

    FormatedoDataReportadas: function() {
      let me = this;
      if (me.DataReportadas.length > 0) {
        //console.log("Ingreso B al data computed atuomaticamente Reportadas ");
        this.FormateoMesesData();
        //this.FormateoMesesDataAtendidas();
      }
    },
    FormatedoDataAtendidas: function() {
      let me = this;
      if (me.DataAtendidas.length > 0) {
        if (me.DataModificadaReportadas.length > 0) {
          //console.log("Ingreso B al data computed atuomaticamente Atendidas ");
          this.FormateoMesesDataAtendidas();
          this.loading = true;
          //this.FormateoMesesDataAtendidas();
        }
      }
    },
    FormatedoDataReportadasB: function() {
      let me = this;
      if (me.DataReportadasB.length > 0) {
        // console.log("Ingreso B al data computed atuomaticamente Reportadas ");
        this.FormateoMesesDataB();
        //this.FormateoMesesDataAtendidas();
      }
    },
    FormatedoDataAtendidasB: function() {
      let me = this;
      if (me.DataAtendidasB.length > 0) {
        if (me.DataModificadaAtendidas.length > 0) {
          // console.log("Ingreso B al data computed atuomaticamente Atendidas ");
          this.FormateoMesesDataAtendidasB();
          //this.FormateoMesesDataAtendidas();
        }
      }
    },
    FormatedoDataReportadasC: function() {
      let me = this;
      if (me.DataReportadasC.length > 0) {
        // console.log("Ingreso C al data computed atuomaticamente Reportadas ");
        this.FormateoMesesDataC();
        //this.FormateoMesesDataAtendidas();
      }
    },
    FormatedoDataAtendidasC: function() {
      let me = this;
      if (me.DataAtendidasC.length > 0) {
        // console.log(
        // "Ingreso al primer nivel C al data computed atuomaticamente Atendidas "
        //);
        if (me.DataModificadaReportadasC.length > 0) {
          console.log("Ingreso C al data computed atuomaticamente Atendidas ");
          this.FormateoMesesDataAtendidasC();
          //this.FormateoMesesDataAtendidas();
        }
      }
    },
    FormateoDataABC: function() {
      let me = this;
      if (me.DataModificadaAtendidas.length > 0) {
        if (me.DataModificadaAtendidasB.length > 0) {
          if (me.DataModificadaAtendidasC.length > 0) {
            this.FormateoMesesDataUnionABC();
            this.loading = false;
          }
        }

        //this.FormateoMesesDataAtendidas();
      }
    }
  },
  methods: {
    Sumadata(datos) {
      var Sum = 0;
      const reducer = (accumulator, currentValue) => accumulator + currentValue;
      Sum = datos.reduce(reducer, 0);

      //console.log("Dato de tabla REDUCER METODO", Sum);
      return Sum;
    },
    getSummaries(param) {
      const { columns, data } = param;
      const sums = [];
      var valorA1, valorA2, totalSumA;
      var valorB1, valorB2, totalSumB;
      var valorC1, valorC2, totalSumC;

      columns.forEach((column, index) => {
        if (index === 0) {
          sums[index] = "Total";
          return;
        }
        //console.log("data colum index",index)

        const values = data.map(item => Number(item[column.property]));

        if (!values.every(value => isNaN(value)) && index === 1) {
          valorA1 = this.Sumadata(values);

          // console.log("Dato de tabla REDUCER A-1", valorA1);
        }

        if (!values.every(value => isNaN(value)) && index === 2) {
          valorA2 = this.Sumadata(values);

          //console.log("Dato de tabla REDUCER A-2", valorA2);
        }

        if (!values.every(value => isNaN(value)) && index === 3) {
          sums[index] =
            values.reduce((prev, curr) => {
              const value = Number(curr);
              if (!isNaN(value)) {
                totalSumA = ((valorA2 / valorA1) * 100).toFixed(0);
                // console.log("SUMA TOTAL", this.color, totalSumA);
               
                return totalSumA;

               
              } else {
                return prev;
              }
            }, 0) + "%";
        }

        if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            // console.log("Dato de tabla CURR", curr);
            // console.log("Dato de tabla PREV", prev);

            const value = Number(curr);
            if (!isNaN(value)) {
              // console.log("Dato de tabla VALUE SUM",this.color, prev + curr);
              return prev + curr;
            } else {
              return prev;
            }
          }, 0);
        }
        /// constante b
        if (!values.every(value => isNaN(value)) && index === 4) {
          valorB1 = this.Sumadata(values);

          console.log("Dato de tabla REDUCER A-1", valorB1);
        }

        if (!values.every(value => isNaN(value)) && index === 5) {
          valorB2 = this.Sumadata(values);

          console.log("Dato de tabla REDUCER A-2", valorB2);
        }

        if (!values.every(value => isNaN(value)) && index === 6) {
          sums[index] =
            values.reduce((prev, curr) => {
              const value = Number(curr);
              if (!isNaN(value)) {
                totalSumB = ((valorB2 / valorB1) * 100).toFixed(0);
                console.log("SUMA TOTAL", this.color, totalSumB);
                return totalSumB;
              } else {
                return prev;
              }
            }, 0) + "%";
        } else if (!values.every(value => isNaN(value))) {
          sums[index] = values.reduce((prev, curr) => {
            // console.log("Dato de tabla CURR", curr);
            // console.log("Dato de tabla PREV", prev);

            const value = Number(curr);
            if (!isNaN(value)) {
              // console.log("Dato de tabla VALUE SUM",this.color, prev + curr);
              return prev + curr;
            } else {
              return prev;
            }
          }, 0);
        } else {
          sums[index] = "N/A";
        }
      });

      return sums;
    },
    InicioData() {
      this.listarReportadas(this.anio, "REPORTADOS", 1, "A");
      this.listarReportadas(this.anio, "ATENDIDO", 2, "A");
      this.listarReportadasB(this.anio, "REPORTADOS", 1, "B");
      this.listarReportadasB(this.anio, "ATENDIDO", 2, "B");
      this.listarReportadasC(this.anio, "REPORTADOS", 1, "C");
      this.listarReportadasC(this.anio, "ATENDIDO", 2, "C");
    },
    BorrarData() {
      this.DataReportadas = [];
      this.DataModificadaReportadas = [];
      this.DataAtendidas = [];
      this.DataModificadaAtendidas = [];
      //CRITICIDAD B
      this.DataReportadasB = [];
      this.DataModificadaReportadasB = [];
      this.DataAtendidasB = [];
      this.DataModificadaAtendidasB = [];
      this.DataModificadaAB = [];
      //CRITICIDAD C
      this.DataReportadasC = [];
      this.DataModificadaReportadasC = [];
      this.DataAtendidasC = [];
      this.DataModificadaAtendidasC = [];
      this.DataModificadaABC = [];
    },
    AnioActual() {
      let me = this;
      var fecha = new Date();
      me.anio = fecha.getFullYear();
      console.log("El año actual es: " + me.anio);
    },
    FormateoMesesData() {
      let me = this;
      var i = 0;
      me.Meses.forEach(function(element) {
        //console.log(array[i].id)
        var item = me.DataReportadas.find(x => x.mes === element.id);
        if (item) {
          // console.log("MES:", element.mes, "Total:", item.total);
          me.DataModificadaReportadas.push({
            id: element.id,
            mes: element.mes,
            totalReport: item.total
          });
        } else {
          // console.log("MES sin dato", element.mes, "Total:", 0);
          me.DataModificadaReportadas.push({
            id: element.id,
            mes: element.mes,
            totalReport: 0
          });
        }

        i++;
        //console.log(i);
      });
    },
    FormateoMesesDataAtendidas() {
      let me = this;
      var i = 0;
      me.DataModificadaReportadas.forEach(function(element) {
        //console.log("id control DATA de inicio", element.id);
        var item = me.DataAtendidas.find(x => x.mes === element.id);
        if (item && element.totalReport > 0) {
          // console.log("MES:", element.mes, "Total:", item.total);
          me.DataModificadaAtendidas.push({
            id: element.id,
            mes: element.mes,
            totalReport: element.totalReport,
            totalAten: item.total,
            total: ((item.total / element.totalReport) * 100).toFixed(0)
          });
        } else {
          // console.log("MES sin dato", element.mes, "Total:", 0);
          me.DataModificadaAtendidas.push({
            id: element.id,
            mes: element.mes,
            totalReport: element.totalReport,
            totalAten: 0,
            total: 0
          });
        }

        i++;
        //console.log(i);
      });
    },
    FormateoMesesDataB() {
      let me = this;
      var i = 0;
      me.Meses.forEach(function(element) {
        //console.log(array[i].id)
        var item = me.DataReportadasB.find(x => x.mes === element.id);
        if (item) {
          // console.log("MES:", element.mes, "Total:", item.total);
          me.DataModificadaReportadasB.push({
            id: element.id,
            mes: element.mes,
            totalReport: item.total
          });
        } else {
          // console.log("MES sin dato", element.mes, "Total:", 0);
          me.DataModificadaReportadasB.push({
            id: element.id,
            mes: element.mes,
            totalReport: 0
          });
        }

        i++;
        //console.log(i);
      });
    },
    FormateoMesesDataAtendidasB() {
      let me = this;
      var i = 0;
      me.DataModificadaReportadasB.forEach(function(element) {
        // console.log("id control DATA B de inicio", element.id);
        var item = me.DataAtendidasB.find(x => x.mes === element.id);
        if (item && element.totalReport > 0) {
          // console.log("MES:", element.mes, "Total:", item.total);
          me.DataModificadaAtendidasB.push({
            id: element.id,
            mesB: element.mes,
            totalReport: element.totalReport,
            totalAten: item.total,
            total: ((item.total / element.totalReport) * 100).toFixed(0)
          });
        } else {
          // console.log("MES sin dato", element.mes, "Total:", 0);
          me.DataModificadaAtendidasB.push({
            id: element.id,
            mes: element.mes,
            totalReport: element.totalReport,
            totalAten: 0,
            total: 0
          });
        }

        i++;
        //console.log(i);
      });
    },
    FormateoMesesDataC() {
      let me = this;
      var i = 0;
      me.Meses.forEach(function(element) {
        //console.log(array[i].id)
        var item = me.DataReportadasC.find(x => x.mes === element.id);
        if (item) {
          // console.log("MES:", element.mes, "Total:", item.total);
          me.DataModificadaReportadasC.push({
            id: element.id,
            mes: element.mes,
            totalReport: item.total
          });
          me.xC = false;
        } else {
          // console.log("MES sin dato", element.mes, "Total:", 0);
          me.DataModificadaReportadasC.push({
            id: element.id,
            mes: element.mes,
            totalReport: 0
          });
          me.xC = false;
        }

        i++;
        //console.log(i);
      });
    },
    FormateoMesesDataAtendidasC() {
      let me = this;
      var i = 0;
      me.DataModificadaReportadasC.forEach(function(element) {
        //console.log("id control DATA C de inicio", element.id);
        var item = me.DataAtendidasC.find(x => x.mes === element.id);
        if (item && element.totalReport > 0) {
          // console.log("MES:", element.mes, "Total:", item.total);
          me.DataModificadaAtendidasC.push({
            id: element.id,
            mesB: element.mes,
            totalReport: element.totalReport,
            totalAten: item.total,
            total: ((item.total / element.totalReport) * 100).toFixed(0)
          });
        } else {
          // console.log("MES sin dato", element.mes, "Total:", 0);
          me.DataModificadaAtendidasC.push({
            id: element.id,
            mes: element.mes,
            totalReport: element.totalReport,
            totalAten: 0,
            total: 0
          });
        }

        i++;
        //console.log(i);
      });
    },

    FormateoMesesDataUnionABC() {
      let me = this;
      var i = 0;
      me.Meses.forEach(function(element) {
        //console.log(array[i].id)
        var itemA = me.DataModificadaAtendidas.find(x => x.id === element.id);
        var itemB = me.DataModificadaAtendidasB.find(x => x.id === element.id);
        var itemC = me.DataModificadaAtendidasC.find(x => x.id === element.id);

        var dataItems =
          itemA.totalReport + itemB.totalReport + itemC.totalReport;
        if (itemA && itemB && itemC && dataItems > 0) {
          me.DataModificadaABC.push({
            id: itemA.id,
            mes: itemA.mes + "-" + me.anio.toString().slice(2, 4),
            totalReportA: itemA.totalReport,
            totalAtenA: itemA.totalAten,
            totalA: itemA.total,
            totalReportB: itemB.totalReport,
            totalAtenB: itemB.totalAten,
            totalB: itemB.total,
            totalReportC: itemC.totalReport,
            totalAtenC: itemC.totalAten,
            totalC: itemC.total,
            totalReportT:
              itemA.totalReport + itemB.totalReport + itemC.totalReport,
            totalAtenT: itemA.totalAten + itemB.totalAten + itemC.totalAten,
            totalT: (
              ((itemA.totalAten + itemB.totalAten + itemC.totalAten) /
                (itemA.totalReport + itemB.totalReport + itemC.totalReport)) *
              100
            ).toFixed(0)
          });
        } else {
          // console.log("MES sin dato", element.mes, "Total:", 0);
          me.DataModificadaABC.push({
            id: 0,
            mes: itemA.mes + "-" + me.anio.toString().slice(2, 4),
            totalReportA: 0,
            totalAtenA: 0,
            totalA: 0,
            totalReportB: 0,
            totalAtenB: 0,
            totalB: 0,
            totalReportC: 0,
            totalAtenC: 0,
            totalC: 0,
            totalReportT: 0,
            totalAtenT: 0,
            totalT: 0
          });
        }

        i++;
        //console.log(i);
      });
    },
    listarReportadas(anio, tipoStatus, dataArray, criticidad, tarjeta) {
      let me = this;
      axios
        .get(
          "/api/RegistrosAnomalias/VentasMes12/" +
            anio +
            "/" +
            tipoStatus +
            "/" +
            criticidad +
            "/" +
            me.idtarjeta
        )
        .then(function(response) {
          if (response.data.length > 0) {
            if (dataArray == 1) {
              me.DataReportadas = response.data;
            } else {
              me.DataAtendidas = response.data;
              // console.log(response.data);
            }
          } else {
            if (dataArray == 1) {
              me.DataReportadas = [{ mes: 1, total: 0 }];
            } else {
              me.DataAtendidas = [{ mes: 1, total: 0 }];
              // console.log(response.data);
            }
          }
        })
        .catch(function(error) {
          console.log(error);
          //catch the error, check it has a response object with lodash
          if ((error, "response")) {
            console.log("entro a los errroes");
            //console.log(error);
            if (error.message === "Network Error") {
              //me.errorMsg("El servidor se encuentra suspendido...")
              me.msgNotificacion("Información", "Servidor suspendido", "error");
              /*server is down*/
            }

            if (error.response.status == 500) {
              me.msgNotificacion(
                "Información",
                "Ocurrio un error de conexión a Internet o la red...",
                "error"
              );
              // me.errorMsg(" Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet..")
            }
            //console.log(error.response.data);
          } else {
            console.log(
              "Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet o la red"
            );
            console.log("error response property is undefined");
          }
        });
    },
    listarReportadasB(anio, tipoStatus, dataArray, criticidad, tarjeta) {
      let me = this;
      axios
        .get(
          "/api/RegistrosAnomalias/VentasMes12/" +
            anio +
            "/" +
            tipoStatus +
            "/" +
            criticidad +
            "/" +
            me.idtarjeta
        )
        .then(function(response) {
          if (response.data.length > 0) {
            if (dataArray == 1) {
              me.DataReportadasB = response.data;
            } else {
              me.DataAtendidasB = response.data;
              // console.log(response.data);
            }
          } else {
            if (dataArray == 1) {
              me.DataReportadasB = [{ mes: 1, total: 0 }];
            } else {
              me.DataAtendidasB = [{ mes: 1, total: 0 }];
              // console.log(response.data);
            }
          }
        })
        .catch(function(error) {
          console.log(error);
          //catch the error, check it has a response object with lodash
          if ((error, "response")) {
            console.log("entro a los errroes");
            //console.log(error);
            if (error.message === "Network Error") {
              //me.errorMsg("El servidor se encuentra suspendido...")
              me.msgNotificacion("Información", "Servidor suspendido", "error");
              /*server is down*/
            }

            if (error.response.status == 500) {
              me.msgNotificacion(
                "Información",
                "Ocurrio un error de conexión a Internet o la red...",
                "error"
              );
              // me.errorMsg(" Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet..")
            }
            //console.log(error.response.data);
          } else {
            console.log(
              "Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet o la red"
            );
            console.log("error response property is undefined");
          }
        });
    },
    listarReportadasC(anio, tipoStatus, dataArray, criticidad, tarjeta) {
      let me = this;
      axios
        .get(
          "/api/RegistrosAnomalias/VentasMes12/" +
            anio +
            "/" +
            tipoStatus +
            "/" +
            criticidad +
            "/" +
            me.idtarjeta
        )
        .then(function(response) {
          if (response.data.length > 0) {
            if (dataArray == 1) {
              me.DataReportadasC = response.data;
            } else {
              me.DataAtendidasC = response.data;
              // console.log(response.data);
            }
          } else {
            if (dataArray == 1) {
              me.DataReportadasC = [{ mes: 1, total: 0 }];
            } else {
              me.DataAtendidasC = [{ mes: 1, total: 0 }];
              // console.log(response.data);
            }
          }
        })
        .catch(function(error) {
          console.log(error);
          //catch the error, check it has a response object with lodash
          if ((error, "response")) {
            console.log("entro a los errroes");
            //console.log(error);
            if (error.message === "Network Error") {
              //me.errorMsg("El servidor se encuentra suspendido...")
              me.msgNotificacion("Información", "Servidor suspendido", "error");
              /*server is down*/
            }

            if (error.response.status == 500) {
              me.msgNotificacion(
                "Información",
                "Ocurrio un error de conexión a Internet o la red...",
                "error"
              );
              // me.errorMsg(" Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet..")
            }
            //console.log(error.response.data);
          } else {
            console.log(
              "Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet o la red"
            );
            console.log("error response property is undefined");
          }
        });
    },

    tableRowStyle({ row, rowIndex }) {
      return "background-color: green";
    },
    //table header

    tableHeaderColor({ row, column, rowIndex, columnIndex }) {
      if (rowIndex === 0 && columnIndex === 0) {
        return " background-color: white;color: #fff;font-weight: 500;";
      }
      if (rowIndex === 0 && columnIndex === 1 && this.idtarjeta === 1) {
        this.ColorTarjeta = "ROJA";
        return "background-color: #E74C3C;color: #fff;font-weight: 500;";
      }
      if (rowIndex === 0 && columnIndex === 1 && this.idtarjeta === 2) {
        this.ColorTarjeta = "AZUL";
        return "background-color: #5499C7;color: white;font-weight: 500;";
      }
      if (rowIndex === 0 && columnIndex === 1 && this.idtarjeta === 3) {
        this.ColorTarjeta = "AMARILLA";
        return "background-color: #F9E79F;color: #EB984E;font-weight: 500;";
      }
      if (rowIndex === 1 && columnIndex === 0) {
        return "background-color: #FFB6C1;color: red;font-weight: 500;";
      }
      if (rowIndex === 1 && columnIndex === 1) {
        return "background-color: #F9E79F;color: #EB984E;font-weight: 500;";
      }
      if (rowIndex === 1 && columnIndex === 2) {
        return "background-color: #A3E4D7;color: green;font-weight: 500;";
      }
      if (rowIndex === 1 && columnIndex === 3) {
        return "background-color: #B3B6B7;color: black;font-weight: 500;";
      }
      if (rowIndex === 1 && columnIndex === 4) {
        return "background-color: #B3B6B7;color: black;font-weight: 500;";
      }
      if (rowIndex === 2) {
        return "background-color: #F0F3F4;color: black;font-weight: 500;";
      }
      if (columnIndex === 0) {
        return "background-color: #F0F3F4;color: black;font-weight: 500;";
      }
    }
  }
};
</script>
<style>
.el-table .warning-row {
  background: oldlace;
}

.el-table .success-row {
  background: #f0f9eb;
}
</style>