<template class="ma-0 pa-0">
    <v-layout class="ma-0 pa-0">
            <el-col :xs="0" :lg="17">
                <v-img
                :src="require('../assets/unileverbackground.png')"
                width="100%"
                
                ></v-img>
                <!-- require('../../dist/img/unilever2.jpg')-->
            </el-col>
            <el-col  :xs="24" :lg="7" class="grey lighten-4" >
                <el-row>
                    <v-container >
                        <el-col :span="8">
                            <v-img
                            :src="require('../assets/images-min.png')"
                            width="70%"
                            ></v-img>
                        </el-col>
                        <el-col :span="10">
                            <h2 type="primary" class="font-weight-thin-bold align-center headline">Autenticación </h2>
                            <h2 type="primary" class="font-weight-thin align-center headline">sistema FANTASMA</h2>
                        </el-col>
                    </v-container>
                </el-row>
                <el-row>
                    <v-container style="margin-left: 8%">
                        <p style="margin-top: 10%" class="font-weight-light">Inicie sesión mediante su cuenta organizativa</p>
                        <el-form style="margin-top: 8%" ref="form"  :model="form" :rules="rules">
                            <el-row>
                                <el-col :span="20">
                                    <el-form-item prop="email" >
                                        <el-input
                                        size="small"
                                        class="font-weight-light"
                                        placeholder="nombre.apellido"
                                        v-model="form.email"
                                        clearable>
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-row>
                                <el-col :span="20">
                                    <el-form-item prop="password" >
                                        <el-input  
                                        size="small" 
                                        class="font-weight-light" 
                                        placeholder="Contraseña" 
                                        v-model="form.password" 
                                        @keyup.native.enter="ingresar('form')"
                                        show-password>
                                        </el-input>
                                    </el-form-item>
                                </el-col>
                            </el-row>
                            <el-button @click="ingresar('form')" size="small" type="primary" style="margin-top: 6%; border-radius: 0px">Iniciar Sesión</el-button>
                        </el-form>
                    </v-container>
                </el-row>
                <el-row>
                    <v-container style="margin-left: 8%">
                        <p class="font-weight-light caption">Ejemplos:</p>
                        <ul class="caption">
                            <li class="font-weight-light">joseph.maldonado</li>
                            <li class="font-weight-light">David.Arias</li>
                            <li class="font-weight-light">CELIDA.LUJAN</li>
                        </ul>
                        <v-footer style="margin-top: 35%; padding:0">
                            <p>&copy; </p><p class="font-weight-bold caption"> {{ new Date().getFullYear() }} Tiem Solutions</p>
                        </v-footer>
                    </v-container>
                </el-row>
                
            </el-col>
    </v-layout>
</template>

<script>
import axios from 'axios'
export default {
    data(){
        //Validacion
        var action =(rule, value, callback)=> {
            if (value === '') {
                callback(new Error('Por favor ingrese una cuenta de usuario.'));
            }
            callback();
        }
        var report = (rule, value, callback) => {
            if (value === '') {
                callback(new Error('Por favor ingrese una contraseña.'));
            }
            callback();
        }
        return{
            form:{
                email:'',
                password: '',
                error:null
            },
            rules:{
                //reglas de validacion
                email:[
                    { validator: action, trigger: 'blur' }
                ],
                password: [
                    { validator: report, trigger: 'blur' }
                ]
            }

        };
    },
    methods:{
        hola(){
            console.log('hola');
        },
        ingresar(form){
            this.$refs[form].validate((valid) => {
            if (valid) {
                axios.post('api/UsuariosNet/login',{username:this.form.email,password:this.form.password})
                .then(respuesta => {
                    return respuesta.data;
                })
                .then(data => {
                    this.$notify({
                        title: 'Exito',
                        message: 'Bienvenido al sistema Unilever',
                        type: 'success'
                    });
                    this.$store.dispatch("guardarToken", data.token);
                    this.$router.push({name:'home'});
                })
                .catch(err =>{
                    if (err.response.status==400) {
                        this.$notify.error({
                            title: 'Error',
                            message: 'No es un usuario Valido.'
                        });
                    }else{
                        if (err.response.status==404) {
                            this.$notify.error({
                                title: 'Error',
                                message: 'No existe el usuario o sus datos son incorrectos.'
                            });
                        }else{
                            this.$notify.error({
                                title: 'Error',
                                message: 'Ocurrior un error, intente nuevamente.'
                            });
                            console.log(err);
                        }
                    }
                })
            }
            });

        }
    }

}
</script>
<style>
 
  .el-col {
    border-radius: 4px;
  }
  .bg-purple-dark {
    background: #99a9bf;
  }
  .bg-purple {
    background: #d3dce6;
  }
  .bg-purple-light {
    background: #e5e9f2;
  }
  .grid-content {
    border-radius: 4px;
    min-height: 36px;
  }
  .row-bg {
    padding: 10px 0;
    background-color: #f9fafc;
  }
</style>
