<template>
  <v-layout align-start>
    <!--FORMULARIO-->

    <v-dialog
      v-model="verNuevo"
      persistent
      fullscreen
      hide-overlay
      transition="dialog-bottom-transition"
    >
      <v-card>
        <v-toolbar dark color="red darken-1">
          <v-btn icon dark @click="dialog = false"></v-btn>

          <div class="flex-grow-1"></div>
          <v-toolbar-items></v-toolbar-items>
        </v-toolbar>

        <v-flex xs12>
          <v-layout wrap>
            <v-flex xs12 pa-2 class="indigo lighten-5" md6>
              <v-spacer></v-spacer>
              <v-layout row wrap>
                <v-flex xs12>
                  <v-flex xs12>
                    <v-spacer></v-spacer>
                    <v-toolbar flat color="red darken-1" dark v-if="accionTarjeta==true">
                      <v-icon>assignment</v-icon>
                      <v-toolbar-title>Ingreso de tarjeta</v-toolbar-title>
                      <div class="flex-grow-0"></div>
                      <v-icon>save</v-icon>
                    </v-toolbar>
                    <v-toolbar flat color="red darken-1" dark v-if="accionTarjeta==false">
                      <v-icon>assignment</v-icon>
                      <div class="title">Edición de tarjeta {{this.codigo}}</div>
                      <div class="flex-grow-0"></div>
                      <v-icon>edit</v-icon>
                    </v-toolbar>
                  </v-flex>
                </v-flex>
                <v-flex xs12 sm5>
                  <v-overflow-btn
                    class="my-0 caption"
                    :items="pasoma"
                    label="Paso MA"
                    v-model="tarjetapasoma"
                  ></v-overflow-btn>
                </v-flex>
                <v-spacer></v-spacer>
                <v-flex xs12 sm5>
                  <v-text-field class="caption" readonly v-model="this.areasector" label="Sector"></v-text-field>
                </v-flex>
                <v-flex xs12 sm1>
                  <v-btn class="caption" @click="mostrarAreas()" small fab dark color="teal">
                    <v-icon dark>list</v-icon>
                  </v-btn>
                </v-flex>

                <v-flex xs12 sm6>
                  <v-radio-group
                    class="caption"
                    v-model="tarjetacriticidad"
                    row
                    label="Criticidad"
                    :mandatory="false"
                  >
                    <v-radio class="caption" label="A" value="A"></v-radio>
                    <v-radio class="caption" label="B" value="B"></v-radio>
                    <v-radio class="caption" label="C" value="C"></v-radio>
                  </v-radio-group>
                </v-flex>
                <v-flex xs12 sm5>
                  <v-text-field class="caption" readonly v-model="nombremaquina" label="Maquina"></v-text-field>
                </v-flex>
                <v-flex xs12 sm1>
                  <v-btn @click="mostrarMaquinas()" small fab dark color="teal">
                    <v-icon dark>list</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex xs12 sm4>
                  <v-text-field class="caption" readonly v-model="nombreanomalia" label="Anomaila"></v-text-field>
                </v-flex>
                <v-flex xs12 sm1>
                  <v-btn @click="mostrarAnomalia()" small fab dark color="teal">
                    <v-icon dark>list</v-icon>
                  </v-btn>
                </v-flex>
                <v-spacer></v-spacer>
                <v-flex xs12 sm5>
                  <v-text-field
                    class="caption"
                    readonly
                    v-model="nombresuceso"
                    label="Relacionada con:"
                  ></v-text-field>
                </v-flex>
                <v-flex xs12 sm1>
                  <v-btn @click="mostrarSuceso()" small fab dark color="teal">
                    <v-icon dark>list</v-icon>
                  </v-btn>
                </v-flex>
                <v-flex xs10 sm10>
                  <v-textarea
                    class="caption"
                    clearable
                    clear-icon="cancel"
                    rows="2"
                    label="Descripción detallada de la anomalía:"
                    :rules="rules"
                    counter
                    :value="tarjetadescripcion"
                    v-model="tarjetadescripcion"
                  ></v-textarea>
                </v-flex>

                <v-flex xs12 sm2 md2 lg2 xl2 v-if="errorArticulo">
                  <div class="red--text" v-text="errorArticulo"></div>
                </v-flex>

                <v-flex xs12 sm12 md12 lg12 xl12>
                  <div class="red--text" v-for="v in validaMensaje" :key="v" v-text="v"></div>
                </v-flex>
                <v-flex xs12 sm12 md12 lg12 xl12>
                  <v-btn @click="ocultarNuevo()" color="blue darken-1" flat>Cancelar</v-btn>
                  <v-btn
                    v-if="this.accionTarjeta==true"
                    :loading="loading"
                    :disabled="loading"
                    @click="guardar()"
                    color="success"
                  >Guardar</v-btn>
                  <v-btn
                    v-if="this.accionTarjeta==false"
                    :loading="loading"
                    :disabled="loading"
                    @click="editarDatos()"
                    color="success"
                  >Guardar cambios</v-btn>
                </v-flex>
              </v-layout>
            </v-flex>
            <v-flex xs12 md5 pa-2 ma-2 wrap>
              <v-flex>
                <template v-if="accionTarjeta==true">
                  <v-flex xs10>
                    <v-image-input
                      v-model="imageUrl"
                      :image-quality="0.99"
                      image-format="jpg"
                      minScaling="contain"
                      overlayBorderWidth="3px"
                      overlayPadding="1px"
                      backgroundColor="black"
                      :imageHeight="300"
                      :imageWidth="450"
                      clearable
                    />
                  </v-flex>
                  <p
                    class="caption"
                  >Arrastre y suelte la imagen o presione en el icono de carga y suba una imagen del incidente,</p>
                  <p class="caption">recuerde que la imagen es opcional.</p>
                </template>
              </v-flex>
            </v-flex>
          </v-layout>
        </v-flex>
      </v-card>
    </v-dialog>

    <!--VENTANA IMAGEN y animacion de carga-->

    <v-dialog v-model="dialogiamgen" width="450" height="350" persistent>
      <template>
        <v-dialog v-model="dialogCargaImagen" hide-overlay persistent width="300">
          <v-flex xs12>
            <v-card color="primary" dark>
              <v-card-text>
                {{this.infoload}}
                <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
              </v-card-text>
            </v-card>
          </v-flex>
        </v-dialog>
        <v-flex xs12>
          <v-card class="mx-auto" width="undefined" height="undefined">
            <v-card-title></v-card-title>

            <v-flex xs12>
              <template v-if="!verImgCarga">
                <el-image :src="this.imageUrl">
                  <div slot="error" class="image-slot">
                    <div class="red--text" key="Sin imagen">No se subio ninguna imagen!</div>
                  </div>
                </el-image>
              </template>
              <v-flex xs12></v-flex>
              <template v-if="verImgCarga">
                <v-flex xs10>
                  <v-image-input
                    v-model="imageUrl"
                    :image-quality="0.99"
                    image-format="png"
                    minScaling="contain"
                    overlayBorderWidth="7px"
                    overlayPadding="1px"
                    backgroundColor="black"
                    :imageHeight="300"
                    :imageWidth="450"
                    clearable
                  />
                </v-flex>
              </template>
            </v-flex>
            <v-card-actions>
              <template v-if="!this.verImgCarga">
                <v-btn small @click="OculatarImagen()" flat color="orange">Cerrar</v-btn>
              </template>
              <template v-if="this.verImgCarga">
                <v-btn small @click="verImgCarga=0" flat color="orange">Cancelar</v-btn>
              </template>
              <!-- <template v-if="!this.verImgCarga">
                <v-btn small @click="verImgCarga=1" flat color="green">Cambiar imagen</v-btn>
              </template>-->
              <template v-if="this.verImgCarga">
                <v-btn
                  :loading="loadingImg"
                  :disabled="loadingImg"
                  @click="editarImagen()"
                  color="success"
                  small
                >Guardar</v-btn>
              </template>
            </v-card-actions>
          </v-card>
        </v-flex>
      </template>
    </v-dialog>

    <v-container fluid grid-list-sm>
      <!-- DIALOG BUSCAR MAQUINA-->
      <v-dialog v-model="verMaquinas" max-width="500"></v-dialog>
      <!-- DIALOG BUSCAR SUCESSO-->
      <v-dialog v-model="verSucesos" max-width="500">
        <v-card>
          <v-card-title>
            <span class="headline">Relacionada con :</span>
            <v-flex xs12 sm1 md1 lg1 xl2>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn @click="listarSuceso()" small fab dark color="teal" v-on="on">
                    <v-icon dark>cached</v-icon>
                  </v-btn>
                </template>
                <span>Actualizar lista Relacion</span>
              </v-tooltip>
            </v-flex>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12 lg12 xl12>
                  <template>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="buscarsuceso"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                    <v-data-table
                      :headers="cabeceraSuceso"
                      :items="sucesosdata"
                      :search="buscarsuceso"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">
                          <v-icon medium class="mr-2" @click="agregarSuceso(props.item) ">add_circle</v-icon>
                        </td>
                        <td>{{ props.item.nombre }}</td>
                      </template>

                      <template slot="no-data">
                        <h3>No hay sucesos para mostrar.</h3>
                      </template>
                    </v-data-table>
                  </template>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="ocultarSuceso()" color="blue darken" flat>Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>

      <!-- DIALOG BUSCAR AREAS-->

      <v-dialog v-model="this.verAreas" max-width="500" persistent>
        <v-stepper v-model="e1">
          <v-stepper-header>
            <v-stepper-step :complete="e1 > 1" step="1">Sector</v-stepper-step>

            <v-divider></v-divider>

            <v-stepper-step :complete="e1 > 2" step="2">Sub-Sector</v-stepper-step>
            <v-divider></v-divider>
            <v-stepper-step :complete="e1 > 3" step="3">Maquina</v-stepper-step>
          </v-stepper-header>

          <v-stepper-items>
            <v-stepper-content step="1">
              <v-card>
                <v-card-title>
                  <span class="title">Sectores:</span>
                </v-card-title>
                <v-card-text>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="buscarareas"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                    clearable
                  ></v-text-field>
                  <v-data-table :headers="cabeceraArea" :items="areas" :search="buscarareas">
                    <template slot="items" slot-scope="props">
                      <td class="justify-center layout px-0">
                        <v-icon medium class="mr-2" @click="agregarArea(props.item) ">forward</v-icon>
                      </td>
                      <td>{{ props.item.nombre }}</td>
                    </template>

                    <template slot="no-data">
                      <h3>No hay areas para mostrar.</h3>
                    </template>
                  </v-data-table>
                </v-card-text>
                <v-card-actions>
                  <v-btn @click="ocultarArea()">Cancel</v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>

            <v-stepper-content step="2">
              <v-card>
                <p class="caption font-weight-bold">Sector: {{this.nombrearea}}</p>
                <v-card-title>
                  <span class="title">Sub-sectores:</span>
                </v-card-title>
                <v-card-text>
                  <v-spacer></v-spacer>
                  <v-text-field
                    v-model="buscarsubsector"
                    append-icon="search"
                    label="Search"
                    single-line
                    hide-details
                    clearable
                  ></v-text-field>
                  <v-data-table
                    :headers="cabeceraSector"
                    :items="subareas"
                    :search="buscarsubsector"
                  >
                    <template slot="items" slot-scope="props">
                      <td class="justify-center layout px-0">
                        <v-icon medium class="mr-2" @click="agregarSubArea(props.item) ">forward</v-icon>
                      </td>
                      <td>{{ props.item.nombre }}</td>
                    </template>

                    <template slot="no-data">
                      <h3>No hay areas para mostrar.</h3>
                    </template>
                  </v-data-table>
                </v-card-text>
                <v-card-actions>
                  <v-btn color="primary" @click="ocultarArea()">Cancelar</v-btn>
                  <v-btn @click="e1=1" text>Atras</v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>

            <v-stepper-content step="3">
              <v-card>
                <p
                  class="caption font-weight-bold"
                >Sector: {{this.nombrearea}} Sub-sector: {{this.nombresubarea}}</p>
                <v-card-title>
                  <span class="title">Maquinas:</span>
                </v-card-title>
                <v-card-text>
                  <template>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="buscarmaquina"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                      clearable
                    ></v-text-field>
                    <v-data-table
                      :headers="cabeceraMaquinas"
                      :items="maquinas"
                      :search="buscarmaquina"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">
                          <v-icon medium class="mr-2" @click="agregarMaquina(props.item) ">forward</v-icon>
                        </td>
                        <td class="overline">{{ props.item.nombre }}</td>
                      </template>

                      <template slot="no-data">
                        <h3>No hay maquinas para mostrar.</h3>
                      </template>
                    </v-data-table>
                  </template>
                </v-card-text>
                <v-card-actions>
                  <v-btn color="primary" @click="ocultarArea()">Cancelar</v-btn>

                  <v-btn @click="e1=2" text>Atras</v-btn>
                </v-card-actions>
              </v-card>
            </v-stepper-content>
          </v-stepper-items>
        </v-stepper>
      </v-dialog>

      <!-- DIALOG ANOMALIAS-->
      <v-dialog v-model="verAnomalias" max-width="500">
        <v-card>
          <v-card-title>
            <span class="headline">Seleccione una Anomalia</span>

            <v-flex xs12 sm1 md1 lg1 xl2>
              <v-tooltip top>
                <template v-slot:activator="{ on }">
                  <v-btn @click="listarAnomalia()" small fab dark color="teal" v-on="on">
                    <v-icon dark>cached</v-icon>
                  </v-btn>
                </template>
                <span>Actualizar lista anomalias</span>
              </v-tooltip>
            </v-flex>
          </v-card-title>
          <v-card-text>
            <v-container grid-list-md>
              <v-layout wrap>
                <v-flex xs12 sm12 md12 lg12 xl12>
                  <template>
                    <v-spacer></v-spacer>
                    <v-text-field
                      v-model="buscaranomalia"
                      append-icon="search"
                      label="Search"
                      single-line
                      hide-details
                    ></v-text-field>
                    <v-data-table
                      :headers="cabeceraAnomalias"
                      :items="anomaliasdata"
                      :search="buscaranomalia"
                    >
                      <template slot="items" slot-scope="props">
                        <td class="justify-center layout px-0">
                          <v-icon
                            medium
                            class="mr-2"
                            @click="agregarAnomalia(props.item)"
                          >add_circle</v-icon>
                        </td>
                        <td>{{ props.item.nombre }}</td>
                        <td>{{ props.item.descripcion }}</td>
                      </template>
                      <template slot="no-data">
                        <h3>No hay anomalias para mostrar.</h3>
                      </template>
                    </v-data-table>
                  </template>
                </v-flex>
              </v-layout>
            </v-container>
          </v-card-text>
          <v-card-actions>
            <v-spacer></v-spacer>
            <v-btn @click="ocultarAnomalia()" color="blue darken" flat>Cancelar</v-btn>
          </v-card-actions>
        </v-card>
      </v-dialog>
      <!--Atributos del fomulario-->

      <!--NOTIFICACIONES-->
      <v-snackbar
        v-model="snackbar"
        :timeout="this.timeout"
        bottom
        right="right"
        :color="this.color"
      >{{textsnackbar}}</v-snackbar>

      <v-snackbar
        :multi-line="true"
        v-model="snackbar2"
        :timeout="7000"
        top
        right="right"
        color="info"
      >
        No puede ser editado pasado las 4 horas de su ingreso, contacte con el administrador del sistema
        <v-btn dark color="orange darken-2" text @click="snackbar2 = false">Cerrar</v-btn>
      </v-snackbar>
      <!--VENTANA CONFIRMACION DE ASIGNACION-->

      <v-dialog v-model="dialogconfirmar" persistent max-width="550" max-height="340">
        <v-card>
          <v-card-title class="headline" v-text="this.codigo"></v-card-title>
          <v-card-text>
            <v-flex xs12>
              <v-flex xs12>
                <v-textarea
                  label="Ingrese una descripción de la solución"
                  auto-grow
                  outlined
                  rows="2"
                  row-height="20"
                  shaped
                  v-model="solucionimplentada"
                  clearable
                  clear-icon="cancel"
                  :rules="rules"
                  counter
                  :value="solucionimplentada"
                ></v-textarea>
                <div class="red--text" v-for="v in validaMensajeSolucion" :key="v" v-text="v"></div>
              </v-flex>

              <!--CAMARA-->

              <template>
                <v-layout align-start class="hidden-xs-only">
                  <v-dialog
                    v-model="camaraSolucion"
                    fullscreen
                    hide-overlay
                    transition="dialog-bottom-transition"
                  >
                    <template v-slot:activator="{ on }">
                      <v-btn color="primary" dark v-on="on">Seleccionar Camara</v-btn>
                    </template>

                    <v-card>
                      <v-toolbar dark color="primary">
                        <v-btn icon dark @click="camaraSolucion = false">
                          <v-icon>close</v-icon>
                        </v-btn>
                        <p
                          class="subtitle-1 font-weight-medium text-left mx-2"
                        >Seleccione un dispositivo:</p>
                        <v-toolbar-title>
                          <el-select
                            class="ma-0"
                            v-model="camera"
                            style="width: 100%;"
                            placeholder="Seleccione un dispositivo"
                          >
                            <el-option
                              v-for="item in devices"
                              :key="item.deviceId"
                              :value="item.deviceId"
                              :label="device.label"
                            ></el-option>
                          </el-select>
                        </v-toolbar-title>
                        <v-spacer></v-spacer>
                        <p class="subtitle-2 font-weight-medium text-left my-0 mx-2">Acciones:</p>
                        <el-tooltip content="Capturar Imagen" placement="top" effect="light">
                          <el-button
                            class="ma-1 mt-0"
                            @click="onCapture"
                            type="primary"
                            icon="el-icon-camera"
                            circle
                          ></el-button>
                        </el-tooltip>
                        <el-tooltip content="Iniciar Cámara" placement="top" effect="light">
                          <el-button
                            class="ma-1"
                            @click="onStart"
                            type="success"
                            icon="el-icon-circle-check"
                            circle
                          ></el-button>
                        </el-tooltip>
                        <el-tooltip content="Detener Cámara" placement="top" effect="light">
                          <el-button
                            class="ma-1"
                            @click="onStop"
                            type="danger"
                            icon="el-icon-circle-close"
                            circle
                          ></el-button>
                        </el-tooltip>
                      </v-toolbar>

                      <!--IMAGEN CAMARA-->
                      <template>
                        <v-layout align-start class="hidden-xs-only">
                          <v-flex md16>
                            <vue-web-cam
                              class="ma-5"
                              ref="webcam"
                              :device-id="deviceId"
                              width="100%"
                              @started="onStarted"
                              @stopped="onStopped"
                              @error="onError"
                              @cameras="onCameras"
                              @camera-change="onCameraChange"
                            />
                          </v-flex>
                        </v-layout>
                      </template>
                    </v-card>
                  </v-dialog>
                </v-layout>
              </template>

              <!--CAMARA FIN-->

              <!--Control de carga de imagen Solucion-->
              <template v-if="imagenCarga">
                {{ControlFormateoImagenWebp}}
                <el-alert title="Procesando imagen espere por favor... " type="info" show-icon></el-alert>
              </template>

              <v-flex xs12 class="red">
                <v-card>
                  <div>
                    <div>
                      <img
                        :src="imageUrlMain"
                        ref="imageUrlMain"
                        height="150"
                        @click="onPickFile"
                        style="cursor: pointer;"
                      />
                    </div>
                    <div>
                      <v-btn raised @click="onPickFile" v-if="!imageUrlMain">{{ selectLabel }}</v-btn>
                      <v-btn raised class="error" @click="removeFile" v-else>{{ removeLabel }}</v-btn>
                      <input
                        type="file"
                        ref="image"
                        name="image"
                        :accept="accept"
                        @change="onFilePicked"
                      />
                    </div>
                  </div>
                  <v-flex xs12 sm10 v-show="1==0">
                    <v-image-input
                      v-model="imageUrlSolucion"
                      :image-quality="0.90"
                      image-format="webp"
                      minScaling="contain"
                      overlayBorderWidth="3px"
                      overlayPadding="1px"
                      backgroundColor="black"
                      :imageHeight="450"
                      :imageWidth="550"
                      errorIcon
                      :hideActions="true"
                      successIcon
                      :disabled="true"
                    />
                  </v-flex>
                  <v-card-actions>
                    <v-layout wrap>
                      <v-btn
                        v-if="this.solucionimplentada && this.imagenCarga==false"
                        color="green darken-1"
                        @click="confirmarSolucion"
                      >Confirmar</v-btn>

                      <v-btn color="green darken-1" flat @click="dialogconfirmar = false,imageUrlMain=''">Cancelar</v-btn>
                    </v-layout>
                  </v-card-actions>
                </v-card>
              </v-flex>
            </v-flex>
          </v-card-text>
        </v-card>
      </v-dialog>
      <!--VENTANA DETALLES -->

      <!--VENTANA LISTA DE TARJETAS -->
      <template v-if="this.verListaTarjetas==true">
        <el-breadcrumb separator-class="el-icon-arrow-right">
          <el-breadcrumb-item :to="{ path: '/' }">Inicio</el-breadcrumb-item>
          <el-breadcrumb-item :to="{ path: '/tarjetas' }">WCM Tarjetas</el-breadcrumb-item>
          <el-breadcrumb-item>Mantenimiento</el-breadcrumb-item>
        </el-breadcrumb>
        <el-divider></el-divider>
        <v-toolbar flat color="white">
          <v-layout mt-1 justify-center align-center wrap>
            <v-btn small v-if="verNuevo==0" @click="listarsinfoto(1) " color="blue" fab dark>
              <v-icon>update</v-icon>
            </v-btn>
            <div class="text-center" v-if="this.idtarjeta==1">
              <v-avatar :size="30" color="teal">
                <img :src="require('../../../../assets/Roja.png')" alt="avatar" />
              </v-avatar>
            </div>

            <v-toolbar-title class="body-1">Lista de Atención</v-toolbar-title>
            <v-divider class="mx-2" inset vertical></v-divider>

            <v-spacer></v-spacer>
            <v-text-field
              class="text-xs-center"
              v-model="search"
              append-icon="search"
              label="Búsqueda"
              single-line
              hide-details
              clearable
            ></v-text-field>
            <v-spacer></v-spacer>
          </v-layout>
        </v-toolbar>
        <el-divider>
          <i></i>
        </el-divider>
        <v-data-iterator
          :items="itemsdata"
          :search="search"
          :rows-per-page-items="rowsPerPageItems"
          :pagination.sync="pagination"
          content-tag="v-layout"
          row
          wrap
        >
          <template v-slot:item="props">
            <v-flex xs12 sm4>
              <v-hover>
                <v-card
                  slot-scope="{ hover }"
                  :class="`elevation-${hover ? 10 : 2}`"
                  class="mx-auto"
                >
                  <v-card-title>
                    <v-flex xs5>
                      <v-layout wrap>
                        <v-flex xs12 align-start class="caption text-xs-center black--text">
                          <v-alert
                            :value="true"
                            color="red darken-1"
                            dense
                            outline
                            class="pa-0 caption"
                          >Tarjeta de Anomalía</v-alert>
                        </v-flex>
                        <v-flex xs12 class="body-1 text-xs-center red darken-1 white--text">
                          <h2>MTTO</h2>
                        </v-flex>

                        <v-flex xs12 align-start class="caption text-xs-center black--text">
                          <v-alert :value="true" color="red darken-1" dense outline class="pa-0">
                            <v-flex class="text-xs-center" xs1>
                              <template class="text-xs-center" v-if="props.item.criticidad==='A'">
                                <div class="caption text-xs-center">
                                  <span
                                    class="red--text caption text-xs-center"
                                  >Criticidad:{{props.item.criticidad}}</span>
                                </div>
                              </template>
                              <template class="text-xs-center" v-if="props.item.criticidad==='B'">
                                <div class="caption">
                                  <span class="yellow--text">Criticidad:{{props.item.criticidad}}</span>
                                </div>
                              </template>
                              <template class="text-xs-center" v-if="props.item.criticidad==='C'">
                                <div class="caption">
                                  <span class="green--text">Criticidad:{{props.item.criticidad}}</span>
                                </div>
                              </template>
                            </v-flex>
                          </v-alert>
                        </v-flex>
                      </v-layout>
                      <v-flex xs12 class="pa-0 ma-0">
                        <p
                          class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                        >Sector: {{props.item.area}}</p>
                      </v-flex>
                      <v-flex xs12 class="pa-0 ma-0">
                        <p
                          class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                        >Sub-Sector: {{props.item.sector}}</p>
                      </v-flex>
                      <template v-if="props.item.idmaquina===14">
                        <v-flex xs12 class="pa-0 ma-0">
                          <p
                            class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                          >Maquina: Ninguna maquina</p>
                        </v-flex>
                      </template>
                      <template v-else>
                        <v-flex xs12 class="pa-0 ma-0">
                          <p
                            class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                          >Maquina: {{props.item.maquina}}</p>
                        </v-flex>
                      </template>
                    </v-flex>
                    <v-layout>
                      <v-flex xs12>
                        <v-flex xs7 class="caption black--text pa-0 ma-4 text-xs-center red--text">
                          <h2>{{props.item.codigo}}</h2>
                        </v-flex>
                        <v-flex xs7 class="caption black--text pa-0 ma-3 text-xs-center red--text">
                          <el-image style="width: 150px; height: 100px" :src="props.item.foto">
                            <div slot="error" class="image-slot">
                              <div class="red--text" key="Sin imagen">No se subio ninguna imagen!</div>
                            </div>
                          </el-image>
                        </v-flex>

                        <v-flex xs12>
                          <v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >{{props.item.usuario}}</p>
                          </v-flex>
                          <v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >Fecha: {{props.item.emision_ts}}</p>
                          </v-flex>
                          <v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >Paso MA:{{props.item.paso_ma}}</p>
                          </v-flex>
                          <!--<v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >Criticidad : {{props.item.criticidad}}</p>
                          </v-flex>-->
                          <v-flex xs12 class="pa-0 ma-0">
                            <p
                              class="caption black--text pa-0 ma-1 subtitle-1 text-xs-left"
                            >Turno: {{props.item.turno}}</p>
                          </v-flex>
                        </v-flex>
                      </v-flex>
                    </v-layout>
                  </v-card-title>
                  <v-card-text class="pa-0 ma-0">
                    <v-layout justify-center align-center wrap>
                      <v-flex xs6>
                        <p
                          class="caption pa-1 ma-0 red darken-1 white--text subtitle-1 text-xs-left"
                        >Anomalía:</p>
                      </v-flex>
                      <v-flex xs6>
                        <p
                          class="caption pa-1 ma-0 red darken-1 white--text subtitle-1 text-xs-left"
                        >Relacionada con:</p>
                      </v-flex>

                      <v-flex class="white--text" xs6>
                        <p
                          class="caption pa-1 ma-0 red darken-1 white--text subtitle-1 text-xs-left"
                        >{{props.item.anomaliac}}</p>
                      </v-flex>

                      <v-flex class="white--text" xs6>
                        <p
                          class="caption pa-1 ma-0 red darken-1 white--text subtitle-1 text-xs-left"
                        >{{props.item.relacionado}}</p>
                      </v-flex>
                    </v-layout>

                    <v-layout justify-center align-center wrap class="pa-0 ma-0">
                      <v-flex xs12>
                        <p
                          class="caption pa-2 ma-0 red darken-4 white--text subtitle-1 text-xs-left"
                        >Descripción detallada de la anomalía:</p>
                      </v-flex>
                    </v-layout>

                    <v-layout justify-center align-center wrap class="pa-0 ma-0">
                      <v-flex xs12>
                        <v-card class="mx-auto">
                          <v-card-text>{{props.item.descripcion}}</v-card-text>
                        </v-card>
                      </v-flex>
                    </v-layout>
                    <v-layout justify-center align-center wrap>
                      <v-flex xs6>
                        <p
                          class="caption pa-1 ma-0 red darken-4 white--text subtitle-1 text-xs-left"
                        >Prog. : {{props.item.programado_ts}}</p>
                      </v-flex>
                      <template v-if="props.item.alarma==true">
                        <v-flex xs6>
                          <p
                            class="caption pa-1 ma-0 red black--text subtitle-1 text-xs-left"
                          >{{props.item.tiempo_vence}}</p>
                        </v-flex>
                      </template>
                      <template v-else>
                        <v-flex xs6>
                          <p
                            class="caption pa-1 ma-0 yellow black--text subtitle-1 text-xs-left"
                          >{{props.item.tiempo_vence}}</p>
                        </v-flex>
                      </template>
                    </v-layout>
                  </v-card-text>
                  <v-card-actions>
                    <!--VENTANA ACCCIONES -->
                    <v-flex xs3>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn
                            flat
                            icon
                            v-on="on"
                            color="gray"
                            @click="editItemConfirmar(props.item)"
                          >
                            <v-icon>build</v-icon>
                          </v-btn>
                        </template>
                        <span>Aplicar contramedida</span>
                      </v-tooltip>
                    </v-flex>

                    <v-flex xs3 v-if="props.item.foto">
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on }">
                          <v-btn flat icon v-on="on" color="#E65100" @click="Verfoto(props.item)">
                            <v-icon>photo</v-icon>
                          </v-btn>
                        </template>
                        <span>Ver imagen de anomalia</span>
                      </v-tooltip>
                    </v-flex>
                  </v-card-actions>
                </v-card>
              </v-hover>
            </v-flex>
          </template>
        </v-data-iterator>
      </template>
    </v-container>
  </v-layout>
</template>
  


<script>
import axios from "axios";
import PictureInput from "vue-picture-input";
import { all } from "q";
export default {
  props: {
    value: {
      type: String
    },
    accept: {
      type: String,
      default: "*"
    },
    selectLabel: {
      type: String,
      default: "Seleccione una imagen"
    },
    cargarunaimagen: {
      type: String,
      default: "cargue una imagen"
    },
    removeLabel: {
      type: String,
      default: "Cambiar imagen"
    }
  },
  data() {
    return {
      imageUrl: "",
      imagen_anomalia: null,
      files: null,
      dialog: false,
      show: false,
      search: "",
      rowsPerPageItems: [1, 3, 5, 8, 12, 50, 100],
      pagination: {
        rowsPerPage: 3
      },
      pasoma: [0, 1, 2, 3, 4, 5, 6, 7],
      menu2: false,
      areas: [],
      // SNACKBAS NOTIFICACIONS
      color: "",
      snackbar: false,
      snackbar2: false,
      textsnackbar: "My timeout is set to 2000.",
      timeout: 2000,
      x: "right",
      y: "top",
      anomalias: [],

      itemsdata: [],
      datasrc: [],
      // variables
      codigo: "",
      idanomalia: "",
      nombre_anomalia: "",
      emision_ts: "",
      id_usuario: "",
      nombre_usuario: "",
      maquina: "",
      anomaliac: "",
      relacionado: "",
      tarjeta: "",
      idtarjeta: 0,
      descripcion: "",
      paso_ma: "",
      criticidad: "",
      turno: "",
      area: "",
      relacionado: "",
      dialogconfirmar: false,
      snackbar: false,
      timeout: 2000,
      mensajesnack: "",
      tarjetauser: "",
      verNuevo: 0,

      errorArticulo: null,
      //variables de maquina
      buscarmaquina: "",
      idmaquina: "",
      nombremaquina: "",
      maquinas: [],
      verMaquinas: 0,
      showbuscarmaquinatooltip: false,
      //variables de areas
      idarea: "",
      nombrearea: "",
      //variables de anomalias
      buscaranomalia: "",
      idanomalia: "",
      nombreanomalia: "",
      anomaliasdata: [],
      verAnomalias: 0,
      //variables de registro sucesos
      buscarsuceso: "",
      bucararea: "",
      idsuceso: "",
      nombresuceso: "",
      sucesosdata: [],
      verSucesos: 0,

      id: "",
      idproveedor: "",
      areas: [],

      idusuariotarjeta: "",
      tarjetanombre: "",
      tarjetafecha: "",
      tarjetapasoma: -1,
      tarjetacriticidad: "",
      tarjetaturno: "",
      tarjtadecripcion: "",
      tarjetasol_implementada: "",
      tarjetaidtecnico: 2,
      tarjetaconfirmacion_tec: false,
      tarjetaidsupervisor: 2,
      tarjetaconfirmacion_super: false,
      tarjetaobservaciones: "",
      tarjetaprog: false,
      tarjetaeliminado: false,
      tarjetadescripcion: "",
      tarjetaidtarjeta: 1,
      //auxiliadres
      loading: false,
      loadingImg: false,
      verMenuTarjetas: true,
      verListaTarjetas: true,
      botonlista: false,
      dialogiamgen: false,
      detalles: [],
      dialogCargaImagen: false,
      infoload: "carga de imagen en",
      idfoto: "",
      accionTarjeta: true,
      idregistroanomalia: "",
      verAreas: false,
      buscarareas: "",
      rules: [v => v.length <= 100 || "Maximo 100 characteres"],
      validaMensajeSolucion: [],
      validaSolucion: "",
      verImgCarga: false,
      idFotoAnomalia: "",

      src: null,

      //Confimacion
      solucionimplentada: "",
      image: "",
      verNuevo: 0,
      errorArticulo: null,

      cabeceraMaquinas: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Maquina", value: "nombre", sortable: false }
      ],
      cabeceraAnomalias: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Anomalia", value: "nombre", sortable: false },
        { text: "Descripcion", value: "descripcion", sortable: false }
      ],
      cabeceraSuceso: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Anomalia", value: "nombre" }
      ],
      cabeceraSector: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Sub-sector", value: "nombre" }
      ],
      cabeceraArea: [
        { text: "Seleccionar", value: "seleccionar", sortable: false },
        { text: "Sector", value: "nombre" }
      ],
      articulos: [],
      texto: "",
      valida: 0,
      validaMensaje: [],
      validaImg: 0,
      validaMensajeImg: [],
      adModal: 0,
      adAccion: 0,
      adNombre: "",
      adId: "",
      e1: 0,
      subareas: [],
      idsubarea: "",
      nombresubarea: "",
      areasector: "",
      buscarsubsector: "",
      imageUrlSolucion: "",
      idtarjetaWCM: 1,
      imageUrlMain: "",
      img: null,
      camera: null,
      deviceId: null,
      devices: [],
      camaraSolucion: false,
      imagenCarga: false
    };
  },
  watch: {
    loader() {
      const l = this.loader;
      this[l] = !this[l];

      setTimeout(() => (this[l] = false), 3000);

      this.loader = null;
    },
    camera(id) {
      this.deviceId = id;
    },
    devices() {
      // Once we have a list select the first one
      const [first, ...tail] = this.devices;
      if (first) {
        this.camera = first.deviceId;
        this.deviceId = first.deviceId;
      }
    }
  },
  computed: {
    device() {
      return this.devices.find(n => n.deviceId === this.deviceId);
    },
    // un getter computado

    ControlFormateoImagenWebp: function() {
      // `this` apunta a la instancia vm

      let termino = "webp";
      // para buscar la palabra hacemos
      let posicion = this.imageUrlSolucion.indexOf(termino);
      if (posicion !== -1) {
        console.log("La palabra está en la posición Ingreso " + posicion);
        // this.closeLoadingInDivIngreso();
        this.imagenCarga = false;
        //this.btn_imagen = true;
      }

      return ".....";
    }
  },
  created() {
    this.listarsinfoto(this.idtarjetaWCM);
    //this.seleccionautomaticotarjeta();
    //this.listarMaquina();
    // this.listarAnomalia();
    //this.listarSuceso();
    //let me=this;
    //this.idusuariotarjeta=this.$store.state.usuario.idusuario;
    //this.select();
  },
  components: {
    PictureInput
  },
  methods: {
    imageLoadOnError() {
      this.imageUrl = "A";
      // "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAABmJLR0QA/wD/AP+gvaeTAAACI0lEQVQ4jbWQTUhUURzFz/14H86oMzYGfVpoC9u0iLKPVbRt0S4iKArbZRAWmUFwVy4KFcxFi8RdtGgVtGhZa9sERYUJaWU6zRtzxvG9d++7/xY6ky8JgugsD+f87v0f4B/F/jZIIDZ8ZaIDQrYzIqdS+DSllDLyTwWllMyKfZeoVVzmWb5n1HmSk/mCK5olo9iyzCtnAMDdTQCllPRs12DSys/6R/L7EVmm5yPEnKB3SLCPIWodEq2rNgsAKcDotcl8KMTT8rGmo6ZNOBVmwCoaukuAOAAyQKeECC0YYyYFUErJUMpnpRPZ49Zdm0aTBbaITefxkEDcLgIAr5t+svd2ucc/XC9vlKjZNCCCcZbwIQUwOeeUyUvn97K7YNA0a1KeU9IlY837BmDs6phnM9haDzS/jdaC5QTeN41qt5sGBMmXgfHerw1AUNhGRIwaX9QEp5yg7UUN1vu1gSWCSTTECk03sgCg1JmY1+xC3SQQMjMxiqdbsLL+ulNOYOYq4O9qiR/E91IAABDL7LG3kFT9OQ0SHMsHm0DrezJDMEshqpkE+UX2un+0d2oTIBbOg7aX1WIShPRjl4U3G8P/rCGKGnFxBUFLhN1veJCbtyc37iEAYKRv4pBbS27Cmhsk+AGtzc5ie8RXucayG8EPiLZPixle8noGh88XNwLYSN/kOWLI9t+/+JBhbcih64+6TUHfsQKd3LLvbgXjt4YuPMf/0E/fpOyEa4+s4gAAAABJRU5ErkJggg==";
    },
    onChange(image) {
      console.log("New picture selected!");
      if (image) {
        console.log("Picture loaded.");
        this.image = image;
      } else {
        console.log("FileReader API not supported: use the <form>, Luke!");
      }
    },
    mostrarNuevo(nrotarjeta) {
      this.verNuevo = 1;
      this.idtarjeta = nrotarjeta;
      this.verMenuTarjetas = false;
      this.accionTarjeta = true;

      this.verListaTarjetas = false;
    },
    ocultarNuevo() {
      this.verMenuTarjetas = true;
      this.verNuevo = 0;
      this.limpiar();
      this.verListaTarjetas = true;
      this.codigo = "";
      this.nombresubarea = "";
    },

    editarTarjeta(item) {
      this.idregistroanomalia = item.idregistroanomalia;
      this.idanomalia = item.idanomalia;
      this.verNuevo = true;
      this.idarea = item.idarea;
      this.nombrearea = item.area;
      this.idmaquina = item.idmaquina;
      this.nombremaquina = item.maquina;
      this.maquina = item.maquina;
      this.nombreanomalia = item.anomaliac;
      this.nombresuceso = item.relacionado;
      this.idsuceso = item.idsuceso;

      this.tarjetadescripcion = item.descripcion;
      this.tarjetapasoma = item.paso_ma;
      this.tarjetacriticidad = item.criticidad;
      this.codigo = item.codigo;
      this.idsubarea = item.idsector;
      this.areasector = item.area + " " + "-" + item.sector;

      this.accionTarjeta = false;
      this.verListaTarjetas = false;
    },

    ocultarDetalle() {
      this.dialog = false;
    },

    OculatarImagen() {
      this.dialogiamgen = false;
      //this.datasrc = [];
      this.imageUrl = this.imageLoadOnError();
    },

    Verfoto(item) {
      this.dialogiamgen = true;
      this.listarfoto(item.idregistroanomalia);

      //this.editedIndex=1;
      //this.dialog = true
    },
    ControlImagenCargaLoad(texto, acccion) {
      this.dialogCargaImagen = acccion;
      this.infoload = texto;
    },
    listarfoto(id) {
      let me = this;
      this.ControlImagenCargaLoad("Cargando imagen espere........", true);
      this.idregistroanomalia = id;
      axios
        .get("api/DetalleFotoAnomalias/VerFotoIngreso/" + me.idregistroanomalia)
        .then(function(response) {
          //console.log(response);
          me.datasrc = response.data;
          me.idFotoAnomalia = me.datasrc[0].idfoto;
          me.imageUrl = me.datasrc[0].foto_anomalia;

          me.ControlImagenCargaLoad("texto", 0);
          me.validarFoto();
          // me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
          me.ControlImagenCargaLoad("texto", 0);
        });
    },

    editarImagen() {
      if (this.validarFoto()) {
        return;
      }
      this.loadingImg = true;
      let me = this;

      axios
        .put("api/DetalleFotoAnomalias/Actualizar", {
          idfoto: me.idFotoAnomalia,
          foto_anomalia: me.imageUrl
        })
        .then(function(response) {
          me.loadingImg = false;
          me.close();
          me.verImgCarga = false;
          // me.listar();
          // me.limpiar();

          //me.OculatarImagen();
        })
        .catch(function(error) {
          console.log(error);
          me.loadingImg = false;
          me.imageUrl = this.imageLoadOnError();
        });
    },

    listarsinfoto(tarjeta) {
      let me = this;
      this.idtarjeta = tarjeta;
      var bandera1;
      this.ControlImagenCargaLoad("Cargando datos espere........", true);
      axios
        .get("api/RegistrosAnomalias/ListarTipoTarjetaOptimize/" + me.idtarjeta)
        .then(function(response) {
          console.log("entro a los datos");
          me.itemsdata = response.data;
          if (me.itemsdata != "") {
            me.msgNotificacion("Información", "datos cargados", "success");
          } else {
            me.msgNotificacion(
              "Información",
              "ningun registro en la base de datos",
              "success"
            );
          }
          me.verListaTarjetas = true;
          me.ControlImagenCargaLoad("C", 0);
        })
        .catch(function(error) {
          console.log(error);
          //catch the error, check it has a response object with lodash
          if ((error, "response")) {
            console.log("entro a los errroes");
            //console.log(error);
            if (error.message === "Network Error") {
              //me.errorMsg("El servidor se encuentra suspendido...")
              me.msgNotificacion("Información", "Servidor suspendido", "error");
              /*server is down*/
            }

            if (error.response.status == 500) {
              me.msgNotificacion(
                "Información",
                "Ocurrio un error de conexión a Internet o la red...",
                "error"
              );
              // me.errorMsg(" Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet..")
            }
            //console.log(error.response.data);
          } else {
            console.log(
              "Lo más probable es un tiempo de espera del servidor o un error de conexión a Internet o la red"
            );
            console.log("error response property is undefined");
          }
        })
        .finally(() => me.ControlImagenCargaLoad("..", 0));
    },

    VerMenuTarjetasLista() {
      this.verMenuTarjetas = true;
      //this.verNuevo=true;
      this.verListaTarjetas = false;
    },

    confirmarStado() {
      let me = this;
      axios
        .put("api/RegistrosAnomalias/AsignarTecnico", {
          idregistroanomalia: me.idanomalia,
          idtecnico: me.$store.state.usuario.idusuario
        })
        .then(function(response) {
          me.close();
          me.listar();
          me.limpiar();
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    openCodigoGuardarTarjeta(codigo) {
      this.$alert("Se aplico la contramedida con exito!", "CODIGO " + codigo, {
        confirmButtonText: "Cerrar"
      });
    },
    confirmarSolucion() {
      if (this.validarSolucion()) {
        return;
      }

      let me = this;
      axios
        .put("api/RegistrosAnomalias/AplicarContramedida", {
          idregistroanomalia: me.idanomalia,
          sol_implementada: me.solucionimplentada,
          idtecnico: me.$store.state.usuario.idusuario
          // idtecnico: 2
        })
        .then(function(response) {
          me.guardarImgSolucion();
          me.openCodigoGuardarTarjeta(response.data);
          console.log(response.data); // returns 200
          me.close();
          me.listarsinfoto(me.idtarjeta);
          me.limpiar();

          //me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    close() {
      this.dialogconfirmar = false;
      this.snackbar = true;
      this.textsnackbar = "Operacion exitosa";
    },
    edicionSnackBar(estado) {
      this.snackbar2 = estado;
    },

    limpiar() {
      this.tarjetanombre = "";
      this.tarjetapasoma = -1;
      (this.tarjetacriticidad = ""), (this.idarea = ""), (this.nombrearea = "");
      this.idmaquina = "";
      this.nombremaquina = "";
      this.idanomalia = "";
      this.nombreanomalia = "";
      this.idsuceso = "";
      this.nombresuceso = "";
      this.tarjetadescripcion = "";
      this.solucionimplentada = "";
      this.idregistroanomalia = "";
      this.idsubarea = "";
      this.areasector = "";
    },

    abrirventanaconfirmar() {
      this.confirmar = true;
    },

    editItemConfirmar(item) {
      this.idanomalia = item.idregistroanomalia;
      //this.editedIndex=1;
      this.codigo = item.codigo;
      this.dialogconfirmar = true;
    },
    seleccionautomaticotarjeta() {
      let me = this;
      if (this.$store.state.usuario.rol == "Mantenimiento") {
        this.tarjetauser = 1;
      } else if (this.$store.state.usuario.rol == "Operador") {
        this.tarjetauser = 2;
      }
    },
    //METODOS DE MAQUINAS
    listarMaquina() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Maquinas/Subsector/" + this.idsubarea, configuracion)
        .then(function(response) {
          //console.log(response);
          me.maquinas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },

    listarAreas() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Areas/SelectAreas", configuracion)
        .then(function(response) {
          me.areas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    listarSubAreas() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Sectores/ListarAreasid/" + this.idarea, configuracion)
        .then(function(response) {
          me.subareas = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarMaquinas() {
      if (this.idsubarea) {
        this.verAreas = true;
        this.e1 = 3;
        this.listarMaquina();
      }
      this.snackbar = true;
      this.color = "success";

      this.textsnackbar = "Seleccione un Sector";
    },
    mostrarAreas() {
      this.verAreas = true;
      this.listarAreas();
    },
    mostrarSubAreas() {
      //this.verAreas = true;
      this.idarea;
      this.listarSubAreas();
    },
    ocultarMaquinas() {
      this.verMaquinas = 0;
    },
    agregarMaquina(data = []) {
      this.idmaquina = data["idmaquina"];
      this.nombremaquina = data["nombre"];
      this.verAreas = false;
      this.snackbar = true;
      this.color = "success";
      this.e1 = 1;
      this.buscarmaquina = "";
      this.buscarsubsector = "";
      this.buscarareas = "";

      this.textsnackbar = "Maquina seleccionada" + " " + this.nombremaquina;
    },
    //METODOS ANOMALIAS LISTAR
    listarAnomalia() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Anomalias/ListarAnomalias/", configuracion)
        .then(function(response) {
          //console.log(response);
          me.anomaliasdata = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarAnomalia() {
      this.listarAnomalia();
      this.verAnomalias = 1;
    },
    ocultarAnomalia() {
      this.verAnomalias = 0;
    },

    agregarAnomalia(data = []) {
      this.idanomalia = data["idanomalia"];
      this.nombreanomalia = data["nombre"];
      this.verAnomalias = 0;
      this.verMaquinas = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Anomalia seleccionada" + " " + this.nombreanomalia;
    },
    // METODOS DE SUCESOS RELACIONADO
    listarSuceso() {
      let me = this;
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      axios
        .get("api/Sucesos/ListarSucesos/", configuracion)
        .then(function(response) {
          //console.log(response);
          me.sucesosdata = response.data;
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    mostrarSuceso() {
      this.verSucesos = 1;
      this.listarSuceso();
    },
    ocultarSuceso() {
      this.verSucesos = 0;
    },
    ocultarArea() {
      this.verAreas = false;
      this.e1 = 1;
    },

    agregarSuceso(data = []) {
      this.idsuceso = data["idsuceso"];
      this.nombresuceso = data["nombre"];
      this.verSucesos = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Relacionado con " + " " + this.nombresuceso;
    },

    agregarArea(data = []) {
      this.idarea = data["idarea"];
      this.nombrearea = data["nombre"];
      // this.verAreas = false;
      this.e1 = 2;
      this.mostrarSubAreas();
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = "Sector : " + " " + this.nombrearea;
    },
    agregarSubArea(data = []) {
      this.idsubarea = data["idsector"];
      this.nombresubarea = data["nombre"];
      // this.verAreas = false;
      this.e1 = 3;
      this.listarMaquina();
      this.areasector = this.nombrearea + " " + "-" + " " + this.nombresubarea;
      //this.mostrarSubAreas();
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar =
        "Sector : " + " " + this.nombrearea + " " + this.nombresubarea;
    },
    ///  FIN DE METODOS SUCESOS
    guardar() {
      if (this.validar()) {
        return;
      }
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      let me = this;
      this.loading = true;

      if (this.imageUrl == "") {
        this.imageUrl = me.src;
        //console.log("entra");
      }
      //console.log("algo "+this.imageUrl)

      axios
        .post(
          "api/RegistrosAnomalias/CrearAnomalias",
          {
            //nombre: me.tarjetanombre,
            //'emision_ts':me.tarjetafecha,
            idusuario: this.$store.state.usuario.idusuario,
            //idusuario: 2,
            paso_ma: me.tarjetapasoma,
            criticidad: me.tarjetacriticidad,
            idarea: me.idarea,
            idsector: me.idsubarea,
            idmaquina: me.idmaquina,
            idanomalia: me.idanomalia,
            idsuceso: me.idsuceso,
            idtarjeta: me.idtarjetaWCM,
            descripcion: me.tarjetadescripcion,
            //foto_anomalia: me.imageUrl
            detalles: [
              { foto_anomalia: me.imageUrl, tipo_foto: "Ingreso", eliminado: 0 }
            ]
          },
          configuracion
        )
        .then(function(response) {
          me.loading = false;
          me.ocultarNuevo();
          me.listarsinfoto(me.idtarjeta);
          me.limpiar();
          me.mostrarSnacbar("Tarjeta ingresada", "success");
          me.verListaTarjetas = true;
          me.removeFile();
        })
        .catch(function(error) {
          me.snackbar = true;
          me.color = "#C62828";
          me.textsnackbar = "Error en la operacion intente mas tarde";
          me.color = "error";
          me.loading = false;
          me.verListaTarjetas = true;
          me.removeFile();
          console.log(error);
        });
    },

    //METODO GUARDAR IMAGEN SOLUCION
    guardarImgSolucion() {
      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      let me = this;
      this.loadingImg = true;
      axios
        .post(
          "api/DetalleFotoAnomalias/Crear",
          {
            idregistroanomalia: me.idanomalia,
            foto_anomalia: me.imageUrlSolucion,
            tipo_foto: "Solucion"
          },
          configuracion
        )
        .then(function(response) {
          console.log("Se guardo imagen solucion");
          me.loadingImg = false;
          me.imageUrlMain = null;
           me.imageUrl = null;
          me.imageUrlSolucion = null;
        })
        .catch(function(error) {
          console.log(error);
          me.loadingImg = false;
          me.imageUrl = null;
        });
    },

    //METODO EDICION DE DATOS
    editarDatos() {
      if (this.validar()) {
        return;
      }
      let me = this;
      axios
        .put("api/RegistrosAnomalias/Actualizar", {
          idregistroanomalia: me.idregistroanomalia,
          paso_ma: me.tarjetapasoma,
          criticidad: me.tarjetacriticidad,
          idarea: me.idarea,
          idsector: me.idsubarea,
          idmaquina: me.idmaquina,
          idanomalia: me.idanomalia,
          idsuceso: me.idsuceso,
          descripcion: me.tarjetadescripcion
        })
        .then(function(response) {
          me.loading = false;
          me.ocultarNuevo();
          me.listarsinfoto(me.idtarjeta);
          me.limpiar();
          me.mostrarSnacbar("Edicion exitosa", "info");
          me.verListaTarjetas = true;
          me.removeFile();
          me.codigo = "";
        })
        .catch(function(error) {
          console.log(error);
          me.snackbar = true;
          me.color = "#C62828";
          me.color = "error";
          me.textsnackbar = "Error en la operacion intente mas tarde";
          me.loading = false;
          me.verListaTarjetas = true;
          me.removeFile();

          console.log(error);
        });
    },
    /// METODO SNACBAR
    mostrarSnacbar(texto, colorparam) {
      this.verSucesos = 0;
      this.snackbar = true;
      this.color = "success";
      this.textsnackbar = texto;
      this.color = colorparam;
    },

    validarFoto() {
      this.validaImg = 0;
      this.validaMensajeImg = [];
      if (!this.imageUrl) {
        this.validaMensajeImg.push("Seleccioné una Imagen....");
      }
    },

    validar() {
      this.valida = 0;
      this.validaMensaje = [];

      if (this.tarjetapasoma < 0) {
        this.validaMensaje.push("Seleccioné PASO MA");
      }
      if (!this.tarjetacriticidad) {
        this.validaMensaje.push("Seleccioné criticidad");
      }
      //if (!this.tarjetaturno){
      // this.validaMensaje.push("Seleccioné un turno");
      //}
      if (!this.idarea) {
        this.validaMensaje.push("Seleccioné una Sector.");
      }
      if (!this.idsubarea) {
        this.validaMensaje.push("Seleccioné un Sub-sector.");
      }

      if (!this.idmaquina) {
        this.validaMensaje.push("Seleccioné una maquina.");
      }
      if (!this.idanomalia) {
        this.validaMensaje.push("Seleccioné una anomalia.");
      }
      if (!this.idsuceso) {
        this.validaMensaje.push("Seleccioné un suceso relacionado.");
      }
      if (!this.tarjetadescripcion) {
        this.validaMensaje.push("Ingrese una descripcion.");
      }
      if (this.tarjetadescripcion.length > 100) {
        this.validaMensaje.push(
          "Ingrese una descripcion menor o igual a 100 caracteres."
        );
      }

      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },
    validarSolucion() {
      this.validaSolucion = 0;
      this.validaMensajeSolucion = [];

      //if (!this.tarjetaturno){
      // this.validaMensaje.push("Seleccioné un turno");
      //}

      if (this.solucionimplentada.length > 100) {
        this.validaMensajeSolucion.push(
          "Ingrese una descripcion menor o igual a 100 caracteres."
        );
      }

      if (this.validaMensajeSolucion.length) {
        this.validaSolucion = 1;
      }
      return this.valida;
    },

    onPickFile() {
      this.$refs.image.click();
    },

    onFilePicked(event) {
      var bandera = "";

      let header = { Authorization: "Bearer " + this.$store.state.token };
      let configuracion = { headers: header };
      const files = event.target.files || event.dataTransfer.files;
      let me = this;

      if (files && files[0]) {
        let filename = files[0].name;

        if (filename && filename.lastIndexOf(".") <= 0) {
          return; //return alert('Please add a valid image!')
        }
        this.imagenCarga = true;
        const fileReader = new FileReader();
        fileReader.addEventListener("load", () => {
          this.imageUrlSolucion = fileReader.result;
          this.imageUrlMain = fileReader.result;

          bandera = fileReader.result;
        });
        fileReader.readAsDataURL(files[0]);
        //console.log(fileReader)

        this.$emit("input", files[0]);
      }
    },

    removeFile() {
      this.imageUrlMain = this.imageLoadOnError();
    },

    msgNotificacion(titulo, mensaje, tipo) {
      this.$notify({
        title: titulo,
        message: mensaje,
        type: tipo
      });
    },
    save() {
      console.log(this.img);
    },
    onCapture() {
      this.img = this.$refs.webcam.capture();
      //this.imageUrlSolucion = this.$refs.webcam.capture();
      this.imageUrlMain = this.$refs.webcam.capture();
      this.imageUrlSolucion = this.$refs.webcam.capture();
      this.camaraSolucion = false;
      this.imagenCarga = true;
    },
    onStarted(stream) {
      console.log("On Started Event", stream);
    },
    onStopped(stream) {
      console.log("On Stopped Event", stream);
    },
    onStop() {
      this.$refs.webcam.stop();
    },
    onStart() {
      this.$refs.webcam.start();
    },
    onError(error) {
      console.log("On Error Event", error);
    },
    onCameras(cameras) {
      this.devices = cameras;
      console.log("On Cameras Event", cameras);
    },
    onCameraChange(deviceId) {
      this.deviceId = deviceId;
      this.camera = deviceId;
      console.log("On Camera Change Event", deviceId);
    }
  }
};
</script>s
<style scoped>
input[type="file"] {
  position: absolute;
  left: -99999px;
}
</style>