<template>
  <v-layout align-start>
    <!--MENSAJES DE ALERTA-->
    
    <!----->
   

    <v-snackbar
      v-model="snackbar"
      :bottom="y === 'bottom'"
      :color="color"
      :left="x === 'left'"
      :multi-line="mode === 'multi-line'"
      right
      :timeout="timeout"
      :top="y === 'top'"
      :vertical="mode === 'vertical'"
    >{{ text }}</v-snackbar>
    <v-flex>
      <v-dialog v-model="dialogCargaImagen" hide-overlay persistent width="300">
        <v-flex xs12>
          <v-card color="primary" dark>
            <v-card-text>
              {{this.infoload}}
              <v-progress-linear indeterminate color="white" class="mb-0"></v-progress-linear>
            </v-card-text>
          </v-card>
        </v-flex>
      </v-dialog>
      <!--MENU DE BUSQUEDA /////////////////////////////////////////////////////////////////////////////////-->

<template>
  <v-card
    class="mx-auto ma-1"
    
    
  >
    <v-card-text>
  <el-breadcrumb separator-class="el-icon-arrow-right">
  <el-breadcrumb-item  :to="{ path: '/' }">home</el-breadcrumb-item>
  <el-breadcrumb-item :to="{ path: '/tarjetas' }">Tarjetas WCM</el-breadcrumb-item>
  <el-breadcrumb-item><a>administración de busqueda </a></el-breadcrumb-item>
 
</el-breadcrumb>
       <v-list two-line>
     <v-list-tile-content>
       <v-list-tile-title class="headline mt-2 pa-0 ma-0">Búsqueda avanzada</v-list-tile-title>
       Codigo, sector, estado, programado, tipo de tarjeta, usuario, fecha de ingreso 
     </v-list-tile-content>
       <v-divider></v-divider>
    </v-list>
       <v-layout  pa-0 ma-0 mb-0 wrap>
         <v-flex xs12 md3  class=" pa-1">
           <el-input 
  
          type="text"
          size="small"
          placeholder="Buscar por Codigo" v-model="buscarDataCodigo">
            <template slot="prepend">N°</template>
          </el-input>
         </v-flex>
         <!--BUSQUEDA POR SECTORES-->
          <v-flex xs12 md3  class=" pa-1">

             <el-select
              v-model="buscarDataAreas"
              multiple
              filterable
              remote
              size="small"
              no-match-text="Ningun sector"
              no-data-text="Ningun sector"
              popper-class="000e"
              loading-text="Cargando"
              reserve-keyword
              placeholder="Buscar por Sector"
              :remote-method="remoteMethod"
              :loading="loading">
              <el-option
                v-for="item in options"
                :key="item.value"
                :label="item.text"
                :value="item.value">
              </el-option>
            </el-select>
           
         </v-flex>
         <!--BUSQUEDA POR MAQUINAS-->
          <v-flex xs12 md3  class=" pa-1">

             <el-select
              v-model="buscarDataMaquinas"
              multiple
              filterable
              remote
              size="small"
              no-match-text="Ninguna Maquina"
              no-data-text="Ningun Maquina"
              popper-class="000e"
              loading-text="Cargando"
              reserve-keyword
              placeholder="Buscar por Maquina"
              :remote-method="remoteMethodMaquina"
              :loading="loading">
              <el-option
                v-for="itemM in optionsM"
                :key="itemM.value"
                :label="itemM.text"
                :value="itemM.value">
              </el-option>
            </el-select>
           
         </v-flex>
         <!--BUSCAR USUARIOS-->
          <v-flex xs12 md3  class=" pa-1">

             <el-select
              v-model="buscarDataUsuarios"
              multiple
              filterable
              remote
              size="small"
              no-match-text="Ningun  Usuario"
              no-data-text="Ningun Usuario"
              popper-class="000e"
              loading-text="Cargando"
              reserve-keyword
              placeholder="Buscar por Usuario"
              :remote-method="remoteMethodUsuarios"
              :loading="loading">
              <el-option
                v-for="item in optionsU"
                :key="item.value"
                :label="item.text"
                :value="item.value">
              </el-option>
            </el-select>
           
         </v-flex>

        <!--ESTADOS SELECCTORES-->
         <v-divider></v-divider>
       </v-layout>

       <!--TAB PANEL DE OPCIONES-->
       <v-layout mt-1 justify-center align-center wrap>
          
            <v-flex xs12  class=" pa-1 justify-left" >
              <template>
              <el-tabs v-model="activeName" @tab-click="handleClick">

                 <el-tab-pane label="ESTADO DE ATENCIÓN" name=" second">
                  <el-radio-group v-model="estadoData" size="mini">
                  <el-radio-button  label="RETRASADO"></el-radio-button>
                  <el-radio-button   label="EJECUCION"></el-radio-button>
                  </el-radio-group>
                  <el-button @click="estadoData=0" size="mini" icon="el-icon-refresh-right" circle></el-button>

                </el-tab-pane>
                
                 <el-tab-pane label='ESTATUS TARJETA' name=" second2">
                  <el-radio-group v-model="estadoDataTarjetaAtencion" size="mini">
                  <el-radio-button  label="INGRESADO"></el-radio-button>
                  <el-radio-button   label="ATENDIDO"></el-radio-button>
                   <el-radio-button   label="RECIBIDO"></el-radio-button>
                    <el-radio-button   label="CERRADO"></el-radio-button>
                  </el-radio-group>
                  <el-button @click="estadoDataTarjetaAtencion='nada'" size="mini" icon="el-icon-refresh-right" circle></el-button>

                </el-tab-pane>

                <el-tab-pane label=" TIPO DE TARJETA" name="first">
                  <el-radio-group v-model="estadoDataTarjeta" size="mini">
                  <el-radio-button  label="ROJO" key="1"></el-radio-button>
                  <el-radio-button   label="AZUL" key="2"></el-radio-button>
                  <el-radio-button   label="AMARILLA" key="3"></el-radio-button>
                    <el-radio-button   label="VERDE" key="4"></el-radio-button>
                  </el-radio-group>
                  <el-divider direction="vertical"></el-divider>
                  <el-button @click="estadoDataTarjeta=0" size="mini" icon="el-icon-refresh-right" circle></el-button>
                  <el-divider direction="vertical"></el-divider>
                 
                 <template v-if="estadoDataTarjeta=='VERDE'">
                  <el-radio-group  v-model="estadoDataTarjetaShe" size="mini">
                  <el-radio-button  label="mtto" key="1"></el-radio-button>
                  <el-radio-button   label="operador" key="2"></el-radio-button>
                  </el-radio-group>
                  <el-divider direction="vertical"></el-divider>
                  <el-button @click="estadoDataTarjetaShe=0" size="mini" icon="el-icon-refresh-right" circle></el-button>
                 </template>
                </el-tab-pane>

                <!--<el-tab-pane label=" PROGRAMADO:" name="fourth">
                  <el-radio-group v-model="estadoDataProgramado"  size="mini">
                  <el-radio-button  label="SI"></el-radio-button>
                  <el-radio-button   label="NO"></el-radio-button>
                  </el-radio-group>
                  <el-divider direction="vertical"></el-divider>
                  <el-button @click="estadoDataProgramado=0" size="mini" icon="el-icon-refresh-right" circle></el-button>
                </el-tab-pane>-->
                
              </el-tabs>
            </template>
              
          
          
           </v-flex>
            
       
 
       </v-layout>
       <!--FECHA RANGOS-->
    <v-divider></v-divider>
       <v-layout mt-1 justify-center align-center wrap>
                
                  <v-flex xs12 md2 class="d-inline-flex pa-0 ma-2">
                     <el-checkbox v-model="ControlFecha" label="Cualquier fecha" border size="mini"></el-checkbox>
                  </v-flex>

                     <v-flex xs12 md2 class="d-inline-flex pa-0">

                      <v-dialog
                        ref="dialog"
                        v-model="inicioFechaDialog"
                        :return-value.sync="dateInicio"
                        persistent
                        width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            :disabled=ControlFecha
                            v-model="dateInicio"
                            label="Fecha de inicio"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                            class="caption"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="dateInicio" locale="es" scrollable>
                          <v-spacer></v-spacer>
                          <v-btn text color="primary" @click="inicioFechaDialog = false">Cancel</v-btn>
                          <v-btn text color="primary" @click="$refs.dialog.save(dateInicio)">OK</v-btn>
                        </v-date-picker>
                      </v-dialog>
                     </v-flex>
                     <v-flex   xs12 md2 class="d-inline-flex pa-0 caption">
                      <v-dialog
                        ref="dialog1"
                        v-model="finFechaDialog"
                        :return-value.sync="dateFin"
                        persistent
                        width="290px"
                      >
                        <template v-slot:activator="{ on }">
                          <v-text-field
                            :disabled=ControlFecha  
                            v-model="dateFin"
                            label="Fecha fin"
                            prepend-icon="event"
                            readonly
                            v-on="on"
                             class="caption"
                          ></v-text-field>
                        </template>
                        <v-date-picker v-model="dateFin" locale="es" scrollable>
                          <v-spacer></v-spacer>
                          <v-btn text color="primary" @click="finFechaDialog = false">Cancel</v-btn>
                          <v-btn text color="primary" @click="$refs.dialog1.save(dateFin)">OK</v-btn>
                        </v-date-picker>
                      </v-dialog>
                   </v-flex>
         <v-flex xs12 md3 class=" pa-1 " v-if="this.estadoDataTarjeta=='AMARILLA'">
             <!--BUSCAR PROYECTO-->
             <el-select
              v-model="buscarDataProyecto"
              multiple
              filterable
              remote
              size="mini"
              no-match-text="Ningun  Proyecto"
              no-data-text="Ningun Proyecto"
              popper-class="000e"
              loading-text="Cargando"
              reserve-keyword
              placeholder="Buscar por Proyecto"
              :remote-method="remoteMethodProyectos"
              :loading="loading">
              <el-option
                v-for="item in optionsP"
                :key="item.value"
                :label="item.text"
                :value="item.value">
              </el-option>
            </el-select>
       </v-flex>
        <v-flex xs12 md4 class=" pa-1 " align-md-content-center >
           NUMERO DE REGISTROS:
        <el-input-number size="mini" v-model="buscarNumeroregistros" controls-position="right" :min="1" :max="5000000"></el-input-number>
       </v-flex>
  
       </v-layout>
    </v-card-text>
    <v-divider></v-divider>

    <v-card-actions>
    
      <el-button  icon="el-icon-refresh" size="mini" @click="listar()" type="primary" :loading="LoadButon2" >Listar</el-button>
      <template v-if="estadoDataTarjeta!='VERDE'">
      <el-button  icon="el-icon-search" size="mini" @click="listarBusqueda() " type="primary" :loading="LoadButon">Buscar</el-button>
      </template>
       <template v-if="estadoDataTarjeta=='VERDE'">
      <el-button  icon="el-icon-search" size="mini" @click="listarBusquedaShe()" type="primary" :loading="LoadButon">Buscar she</el-button>
      </template>
      <el-button  icon="el-icon-delete" size="mini" @click="BorrarFiltro()" type="primary" >Borrar filtros</el-button>


    </v-card-actions>
  </v-card>
</template>
    <!--MENU DE BUSQUEDA FIN///////////////////////////////////////////////////////////////////////////// -->
      <v-toolbar flat color="white">
        <v-toolbar-title>Visualización</v-toolbar-title>
        <v-divider class="mx-2" inset vertical></v-divider>
        <v-spacer></v-spacer>
        <v-text-field
          class="text-xs-center"
          v-model="search"
          append-icon="search"
          label="Búsqueda"
          single-line
          hide-details
        ></v-text-field>
        <v-spacer></v-spacer>
  <!--TABLE DATOS TARJETAS NORMALES ROJA AZUL AMARIILA///////////////////////////////////////////////////////////////////////////// -->       
  <v-dialog v-model="dialog" max-width="500px">
          <!-- <v-btn slot="activator" color="primary" dark class="mb-2">Nuevo</v-btn>-->
        <template>
  <v-card class="mx-auto" max-width="500">
    <v-img class="white--text align-end" height="350" :src="this.imagenReporte">
      <v-card-title class="font-weight-black title">{{this.codigo}}</v-card-title>
      <template v-if="this.imagenReporte=='A'">
        <div class="font-weight-black red--text">No se subió ninguna imagen</div>
      </template>
    </v-img>

    <v-card-title class="pb-0 font-weight-bold">Descripción:</v-card-title>

    <v-card-text class="text--primary">
      <div>{{this.descripcion}}</div>
    </v-card-text>

    <v-card-actions>
      <v-btn color="orange" text @click="close()">Cerrar</v-btn>
    </v-card-actions>
  </v-card>
</template>
</v-dialog>
        <v-dialog v-model="adModal" max-width="290">
          <v-card>
            <v-card-title class="headline" v-if="adAccion==1">¿Activar Item?</v-card-title>
            <v-card-title class="headline" v-if="adAccion==2">¿Desactivar Item?</v-card-title>
            <v-card-text>
              Estás a punto de
              <span v-if="adAccion==1">Activar</span>
              <span v-if="adAccion==2">Desactivar</span>
              el ítem {{ adNombre }}
            </v-card-text>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="green darken-1" flat="flat" @click="activarDesactivarCerrar">Cancelar</v-btn>
              <v-btn v-if="adAccion==1" color="orange darken-4" flat="flat" @click="activar">Activar</v-btn>
              <v-btn
                v-if="adAccion==2"
                color="orange darken-4"
                flat="flat"
                @click="desactivar"
              >Desactivar</v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
      <v-data-table :headers="headers" :items="maquinas" :search="search" class="elevation-1">
        <template slot="items" slot-scope="props">
  <!--VENTANA IMAGEN y animacion de carga-->

  <td class="justify-center layout px-0">
    <!--<v-icon small class="mr-2" @click="editItem(props.item)">edit</v-icon>-->
   <template v-if="props.item.foto && estadoDataTarjeta!='VERDE'">
    <v-icon color="orange darken-2" small class="mr-2" @click="editItem(props.item)">image</v-icon>
   </template>
    <template v-if="props.item.foto && estadoDataTarjeta=='VERDE'">
    <v-icon color="orange darken-2" small class="mr-2" @click="editItemShe(props.item)">image</v-icon>
   </template>
    <!-- <v-switch success v-model="props.item.edicion" :label="`Switch 1: ${switch1.toString()}`"></v-switch>-->
   <!-- <template v-if="props.item.programado">
      <v-icon
        color="green darken-2"
        small
        @click="activarDesactivarMostrar(2,props.item)"
      >assignment_turned_in</v-icon>
    </template>
    <template v-else>
      <v-icon small @click="activarDesactivarMostrar(1,props.item)">assignment</v-icon>
    </template>-->

    
    <template v-if="props.item.estadoTarjeta=='recibido' && rolUsuarioActual=='ADMINISTRADOR WCM' && estadoDataTarjeta!='VERDE'">
      <el-tooltip placement="top" effect="light">
      <div slot="content">Revertir la recepción <br/>de la tarjeta</div>
      <v-icon small @click="RevertirTarjetaMostrar(props.item)">assignment_return</v-icon>
      </el-tooltip>
    </template>
    
     <template v-if="props.item.estadoTarjeta=='recibido' && rolUsuarioActual=='ADMINISTRADOR WCM' && estadoDataTarjeta=='VERDE'">
      <el-tooltip placement="top" effect="light">
     <div slot="content">Revertir la recepción <br/>de la tarjeta</div>
      <v-icon medium  @click="RevertirTarjetaMostrarShe(props.item)">assignment_return</v-icon>
       </el-tooltip>
    </template>
    
    
  </td>

  <td class="caption">{{ props.item.codigo }}</td>
  <td class="caption">{{ props.item.emision_ts }}</td>
  <td class="caption">{{ props.item.programado_ts }}</td>
 
   
  <div class="block"><el-avatar shape="square" :size="50" :src="props.item.foto"></el-avatar></div>
  
  <td class="caption">{{ props.item.usuario }}</td>

  <td class="caption">{{ props.item.descripcion }}</td>

  <td class="caption">{{ props.item.area }}</td>
  <td class="caption">{{ props.item.sector }}</td>
  <td class="caption">{{ props.item.maquina }}</td>
  <td class="justify-center layout px-0">
   
    <template v-if="props.item.idtarjeta==1 ">
      <v-icon color="red " flat>insert_drive_file</v-icon>
    </template>
    <template v-if="props.item.idtarjeta==2 ">
      <v-icon color="blue darken-2" flat>insert_drive_file</v-icon>
    </template>
    <template v-if="props.item.idtarjeta==3 ">
      <v-icon color="yellow darken-2" flat>insert_drive_file</v-icon>
    </template>
     <template v-if="estadoDataTarjeta=='VERDE' && sheCambio==true">
      <v-icon color="green darken-2" flat>insert_drive_file</v-icon>
    </template>
  </td>
  <template v-if="props.item.estadoTarjeta==='ingresado' ">
  <td class="caption">{{ props.item.tiempo_vence }}</td>
  </template>
   <template v-if="props.item.estadoTarjeta!='ingresado'">
  <td class="caption">{{ props.item.estadoTarjeta }}</td>
  </template>

  <!--<td>
            <div v-if="props.item.programado">
              <span class="blue--text caption">Activo</span>
            </div>
            <div v-else>
              <span class="caption red--text">Inactivo</span>
            </div>
  </td>-->
</template>
        <template slot="no-data">
          
  <v-btn color="primary" @click="listar">Resetear</v-btn>
</template>
          <template slot="no-data">
                        <h3>No hay datos para mostrar.</h3>
          </template>
      </v-data-table>
    </v-flex>
  </v-layout>
</template>
<script>
import axios from "axios";
export default {
  data() {
    return {
      inicioFechaDialog:false,
      finFechaDialog:false,
     
      dateInicio: new Date().toISOString().substr(0,10),
      
      
      dateFin: new Date().toISOString().substr(0, 10),
      dates: ['2019-09-10', '2019-09-20'],
      maquinas: [],
      dialog: false,
      
      headers: [
        { text: "Opciones", value: "opciones", sortable: false },
        { text: "Codigo", value: "codigo" },
        { text: "Emisión", value: "emision_ts" },
        { text: "Atención", value: "programado_ts" },
        { text: "", value: "avatar", sortable: false },
        { text: "Usuario", value: "usuario" },

        { text: "Descripcion", value: "descripcion" ,sortable: false },

        { text: "Sector", value: "area" },
        { text: "Sub-sector", value: "sector" },
        { text: "Maquina", value: "maquina" },
        { text: "Tarjeta", value: "tarjeta" },
        { text: "Estado", value: "tiempo_vence" }

        // { text: "Estado", value: "activo", sortable: false }
      ],
      estadoDataDate:"",
      dialogiamgen: false,
      dialogCargaImagen: false,
      search: "",
      editedIndex: -1,
      idregistroanomalia: "",
      idarea: "",
      areas: [],
      nombre: "",
      estadoDataTarjetaShe:"0",
      descripcion: "",
      valida: 0,
      sheCambio:false,
      validaMensaje: [],
      adModal: 0,
      adAccion: 0,
      adNombre: "",
      mttoOperdaor:"0",
      adId: "",
      switch1: true,
      snackbar: 0,
      color: "",
      mode: "",
      buscarNumeroregistros:100,
      snackbar: false,
      text: "Hello, I'm a snackbar",
      timeout: 6000,
      x: null,
      y: "top",
      activeName:"",
      imagenReporte:"",
      estadoDataTarjetaAtencion:"nada",
      codigo: "",
      infoload: "",
      options: [],
      optionsM: [],
      optionsU: [],
      optionsP: [],
        value: [],
        value1Date:"",
        buscarDataAreas:[],
        buscarDataMaquinas:[],
        buscarDataUsuarios:[],
        buscarDataProyecto:[],
        maquinaSearch:[],
        usuarioSearch:[],
        proyectoSearch:[],
        estadoTarjetaLabelText:"55",
        list: [],
        loading: false,
        loading2: false,
        ControlFecha:false,
        PageSize:100,
        LoadButon:false,
        LoadButon2:false,
        buscarDataCodigo:"",
        estadoData:0,
        estadoDataTarjeta:0,
        estadoDataProgramado:0,
        busquedaRangoFecha:[],
        valorData:"",
        pickerOptions: {
          shortcuts: [{
            text: 'La semana pasada',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 7);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'El mes pasado',
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 30);
              picker.$emit('pick', [start, end]);
            }
          }, {
            text: 'Últimos 3 meses',

             rail: {
    background: '#01a99a',
    opacity: 0,
    size: '6px',
    specifyBorderRadius: false,
    gutterOfEnds: null,
     gutterOfSide: '2px',
    keepShow: false,
    
  },
            onClick(picker) {
              const end = new Date();
              const start = new Date();
              start.setTime(start.getTime() - 3600 * 1000 * 24 * 90);
              picker.$emit('pick', [start, end]);
            }
          }]
        },
        
      
    };
  },
  
  computed: {
    formTitle() {
      return this.editedIndex === -1 ? "Nuevo equipo" : "Actualizar equipo";
    },
    dateRangeText () {
      return this.dateInicio.join(' ~ ')
    },
    dateRangeText2 () {
      return this.dateFin.join(' ~ ')
    },
    
  },

  watch: {
    dialog(val) {
      val || this.close();
    },
  },
  created() {
    this.listar();
    this.select();
    
    this.selectMaquina();
    this.selectUsuario();
    this.selectProyecto();
    this.dataControRolUsuario();
    console.log(this.rolUsuarioActual)
  },
  methods: {

    BorrarFiltro(){

    this.buscarDataCodigo="";
    this.buscarDataAreas=[];
    this.buscarDataMaquinas=[];
    this.buscarDataUsuarios=[];
    this.buscarDataProyecto=[];
    this.estadoDataTarjeta=0;
    this.estadoDataProgramado=0;
    this.buscarNumeroregistros=100;
    this.estadoData=0;
    this.estadoDataTarjetaAtencion=0;
    this.ControlFecha=false;
    this.dateInicio=new Date().toISOString().substr(0,10);
    this.dateFin=new Date().toISOString().substr(0,10);



    },

      dataControRolUsuario() {
      var tam = this.$store.state.usuario.rol.length;

      for (var i = 0; i < tam; i++) {
        if (this.$store.state.usuario.rol[i] === "ADMINISTRADOR")
          this.rolUsuarioActual = "ADMINISTRADOR";
        else if (
          this.$store.state.usuario.rol[i] === "ADMINISTRADOR WCM"
        ) {
          this.rolUsuarioActual = "ADMINISTRADOR WCM";
        } else if (
          this.$store.state.usuario.rol[i] === "SUPERVISOR MANTENIMIENTO"
        ) {
          this.rolUsuarioActual = "SUPERVISOR MANTENIMIENTO";
        } 
        else if (
          this.$store.state.usuario.rol[i] === "SUPERVISOR PRODUCCION"
        ) {
          this.rolUsuarioActual = "SUPERVISOR PRODUCCION";
        } else if (
          this.$store.state.usuario.rol[i] === "RESPONSABLE DE TARJETA"
        ) {
          this.rolUsuarioActual = "RESPONSABLE DE TARJETA";
        } else if (this.$store.state.usuario.rol[i] === "OPERADOR LIDER") {
          this.rolUsuarioActual = "OPERADOR LIDER";
        } else if (this.$store.state.usuario.rol[i] === "INGENIERIA") {
          this.rolUsuarioActual = "INGENIERIA";
        } else if (this.$store.state.usuario.rol[i] === "LIDER") {
          this.rolUsuarioActual = "LIDER";
        }else if (this.$store.state.usuario.rol[i] === "TECNICO") {
          this.rolUsuarioActual = "TECNICO";
        }else if (this.$store.state.usuario.rol[i] === "OPERADOR") {
          this.rolUsuarioActual = "OPERADOR";
        }
      }
    },
    handleClick(tab, event) {
        console.log(tab, event);
      },
    remoteMethod(query) {
        if (query !== '') {
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
            this.options = this.areas.filter(item => {
              return item.text.toLowerCase()
                .indexOf(query.toLowerCase()) > -1;
            });
          }, 200);
        } else {
          this.options = [];
        }
      },
      remoteMethodMaquina(query) {
        if (query !== '') {
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
            this.optionsM = this.maquinaSearch.filter(item => {
              return item.text.toLowerCase()
                .indexOf(query.toLowerCase()) > -1;
            });
          }, 200);
        } else {
          this.optionsM = [];
        }
      },
      remoteMethodUsuarios(query) {
        if (query !== '') {
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
            this.optionsU = this.usuarioSearch.filter(item => {
              return item.text.toLowerCase()
                .indexOf(query.toLowerCase()) > -1;
            });
          }, 200);
        } else {
          this.options = [];
        }
      },
       remoteMethodProyectos(query) {
        if (query !== '') {
          this.loading = true;
          setTimeout(() => {
            this.loading = false;
            this.optionsP = this.proyectoSearch.filter(item => {
              return item.text.toLowerCase()
                .indexOf(query.toLowerCase()) > -1;
            });
          }, 200);
        } else {
          this.options = [];
        }
      },
    
    listar() {
      let me = this;
      me.LoadButon2=true;
      axios
        .get("api/RegistrosAnomalias/ListarProgramacion/")
        .then(function(response) {
          //console.log(response);
          me.maquinas = response.data;
          me.LoadButon2=false;
        })
        .catch(function(error) {
          console.log(error);
          me.LoadButon2=false;
        });
       
    },
   
    dataMaquinas(){
      if(this.buscarDataMaquinas=="" || this.buscarDataMaquinas==[0]){
        this.buscarDataMaquinas=0;
      }
      return this.buscarDataMaquinas;

    },
     dataProyectos(){
      if(this.buscarDataProyecto=="" || this.buscarDataProyecto==[0]){
        this.buscarDataProyecto=0;
      }
      return this.buscarDataProyecto;

    },
    dataAreas(){
       if(this.buscarDataAreas=="" || this.buscarDataAreas==[0]){
        this.buscarDataAreas=0;
      }
      return this.buscarDataAreas;

    },
    dataUsuarios(){
      if(this.buscarDataUsuarios==""){
        this.buscarDataUsuarios=0;
      }
      return this.buscarDataUsuarios;
    },
    dataCodigo(){

      if(this.buscarDataCodigo==""){
        this.buscarDataCodigo=0;
      }
      return  this.buscarDataCodigo;
    },
    
    listarBusqueda() {

      let me = this;
       me.valorData=me.busquedaRangoFecha[1]
      //console.log(me.valorData);
      me.LoadButon=true;
      if(me.dateInicio>me.dateFin){
          me.open4();
           me.LoadButon=false;
      }else{
     
      axios
       // .get("api/RegistrosAnomalias/ListarFilter/"+this.dataAreas()+"/"+this.dataMaquinas()+"/"+this.dataUsuarios()+"/"+this.estadoDataTarjeta+"/"+this.estadoDataProgramado+"/"+this.dataProyectos()+"/"+this.buscarNumeroregistros+"/"+this.dataCodigo()+"/"+this.estadoData+"/"+me.busquedaRangoFecha[0]+"/"+me.busquedaRangoFecha[1])
        .get("api/RegistrosAnomalias/ListarFilter/"+this.dataAreas()+"/"+this.dataMaquinas()+"/"+this.dataUsuarios()+"/"+this.estadoDataTarjeta+"/"+this.estadoDataProgramado+"/"+this.dataProyectos()+"/"+this.buscarNumeroregistros+"/"+this.dataCodigo()+"/"+this.estadoData+"/"+this.estadoDataTarjetaAtencion+"/"+me.dateInicio+"/"+me.dateFin+"/"+me.ControlFecha)

        .then(function(response) {
          //console.log(response);
          me.maquinas = response.data;  
          me.LoadButon=false;
          if(me.buscarDataCodigo==""){
              me.buscarDataCodigo="";
            }  
          
         
        })
        .catch(function(error) {
          console.log(error);
        });
        }
    },
     listarBusquedaShe() {

      let me = this;
       me.valorData=me.busquedaRangoFecha[1]
      //console.log(me.valorData);
      me.LoadButon=true;
     
      if(me.dateInicio>me.dateFin){
          me.open4();
           me.LoadButon=false;
      }else{
     
      axios
       // .get("api/RegistrosAnomalias/ListarFilter/"+this.dataAreas()+"/"+this.dataMaquinas()+"/"+this.dataUsuarios()+"/"+this.estadoDataTarjeta+"/"+this.estadoDataProgramado+"/"+this.dataProyectos()+"/"+this.buscarNumeroregistros+"/"+this.dataCodigo()+"/"+this.estadoData+"/"+me.busquedaRangoFecha[0]+"/"+me.busquedaRangoFecha[1])
        .get("api/RegistroShes/ListarFilter/"+this.dataAreas()+"/"+this.dataMaquinas()+"/"+this.dataUsuarios()+"/"+this.estadoDataProgramado+"/"+this.buscarNumeroregistros+"/"+this.dataCodigo()+"/"+this.estadoData+"/"+this.estadoDataTarjetaShe+"/"+this.estadoDataTarjetaAtencion+"/"+me.dateInicio+"/"+me.dateFin+"/"+me.ControlFecha)
                            //  [HttpGet("[action]/{areaData}/{maquinaData}/{usuarioData}/{estadoDataTarjeta}/{programadoData}/{pageSize}/{codigodata}/{estadoData}/{opmttoData}/{fechadataInicio}/{fechadataFin}")]

        .then(function(response) {
          //console.log(response);
          me.maquinas = response.data;  
          me.LoadButon=false;
          me.sheCambio=true;
          if(me.buscarDataCodigo==""){
              me.buscarDataCodigo="";
            }  
          
         
        })
        .catch(function(error) {
          console.log(error);
        });
        }
    },
   
    select() {
      let me = this;
      var categoriasArray = [];
      axios
        .get("api/areas/Select")
        .then(function(response) {
          categoriasArray = response.data;
          categoriasArray.map(function(x) {
            me.areas.push({ text: x.nombre, value: x.idarea });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    selectMaquina() {
      let me = this;
      var categoriasArray = [];
      axios
        .get("/api/maquinas/listar")
        .then(function(response) {
          categoriasArray = response.data;
          categoriasArray.map(function(x) {
            me.maquinaSearch.push({ text: x.nombre, value: x.idmaquina });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    selectUsuario() {
      let me = this;
      var categoriasArray = [];
      axios
        .get("/api/UsuariosNet/Listarbusqueda")
        .then(function(response) {
          categoriasArray = response.data;
          categoriasArray.map(function(x) {
            me.usuarioSearch.push({ text: x.username, value: x.idusuario });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    selectProyecto() {
      let me = this;
      var categoriasArray = [];
      axios
        .get("/api/Proyectos/listar")
        .then(function(response) {
          categoriasArray = response.data;
          categoriasArray.map(function(x) {
            me.proyectoSearch.push({ text: x.nombre, value: x.id });
          });
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    editItem(item) {
      this.idregistroanomalia = item.idregistroanomalia;
      // this.idcategoria = item.idarea;
      //this.nombre = item.nombre;
      // this.descripcion = item.descripcion;
      //this.editedIndex = 1;
      this.dialog = true;
      this.listarfoto(item.idregistroanomalia);
      this.codigo = item.codigo;
      this.descripcion = item.descripcion;
    },
    editItemShe(item) {
      this.idregistroanomalia = item.idregistroshe;
      // this.idcategoria = item.idarea;
      //this.nombre = item.nombre;
      // this.descripcion = item.descripcion;
      //this.editedIndex = 1;
      this.dialog = true;
      this.listarfotoShe(item.idregistroshe);
      this.codigo = item.codigo;
      this.descripcion = item.descripcion;
    },
    close() {
      this.dialog = false;
      this.dialogCargaImagen = false;
      this.limpiar();
      this.imagenReporte = "A";
    },
    limpiar() {
      this.idregistroanomalia = "";
      this.idarea = "";
      this.nombre = "";
      this.descripcion = "";
      this.editedIndex = -1;
    },
    OculatarImagen() {
      this.dialogiamgen = false;
      //this.datasrc = [];
      this.imageUrl = this.imageLoadOnError();
    },

    Verfoto(item) {
      //this.dialogiamgen = true;
      this.listarfoto(item);
      
      

      //this.editedIndex=1;
      //this.dialog = true
    },
    ControlImagenCargaLoad(texto, acccion) {
      this.dialogCargaImagen = acccion;
      this.infoload = texto;
    },
    listarfoto(id) {
      let me = this;
      this.ControlImagenCargaLoad("Cargando imagen espere........", true);
      this.idregistroanomalia = id;
      axios
        .get("api/DetalleFotoAnomalias/VerFotoIngreso/" + me.idregistroanomalia)
        .then(function(response) {
          //console.log(response);
          me.datasrc = response.data;
          // me.idFotoAnomalia = me.datasrc[0].idfoto;
          me.imagenReporte = me.datasrc[0].foto_anomalia;

          me.ControlImagenCargaLoad("texto", 0);
          //me.validarFoto();
          // me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
          me.ControlImagenCargaLoad("texto", 0);
        });
    },
    listarfotoShe(id) {
      let me = this;
      this.ControlImagenCargaLoad("Cargando imagen espere........", true);
      this.idregistroanomalia = id;
      axios
        .get("api/DetalleFotoAnomaliaShes/VerFotoIngreso/" + me.idregistroanomalia)
        .then(function(response) {
          //console.log(response);
          me.datasrc = response.data;
          // me.idFotoAnomalia = me.datasrc[0].idfoto;
          me.imagenReporte = me.datasrc[0].foto_anomalia;

          me.ControlImagenCargaLoad("texto", 0);
          //me.validarFoto();
          // me.verListaTarjetas=true;
        })
        .catch(function(error) {
          console.log(error);
          me.ControlImagenCargaLoad("texto", 0);
        });
    },

    guardar() {
      if (this.validar()) {
        return;
      }
      if (this.editedIndex > -1) {
        //Código para editar
        //Código para guardar
        let me = this;
        axios
          .put("api/maquinas/Actualizar", {
            idregistroanomalia: me.idregistroanomalia,
            idarea: me.idarea,
            nombre: me.nombre,
            descripcion: me.descripcion
          })
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();
          })
          .catch(function(error) {
            console.log(error);
          });
      } else {
        //Código para guardar
        let me = this;
        axios
          .post("api/maquinas/Crear", {
            idarea: me.idarea,
            nombre: me.nombre,
            descripcion: me.descripcion
          })
          .then(function(response) {
            me.close();
            me.listar();
            me.limpiar();
          })
          .catch(function(error) {
            console.log(error);
          });
      }
    },
    validar() {
      this.valida = 0;
      this.validaMensaje = [];

      if (this.nombre.length < 3 || this.nombre.length > 50) {
        this.validaMensaje.push(
          "El nombre debe tener más de 3 caracteres y menos de 50 caracteres."
        );
      }
      if (!this.idarea) {
        this.validaMensaje.push("Seleccione una area.");
      }

      if (this.validaMensaje.length) {
        this.valida = 1;
      }
      return this.valida;
    },
    activarDesactivarMostrar(accion, item) {
      // this.adModal = 1;
      this.adNombre = item.codigo;
      this.adId = item.idregistroanomalia;
      if (accion == 1) {
        this.adAccion = 1;
        this.activar();
        this.mostarNtoficacion(
          "success",
          "Se realizo la programación de la tarjeta: " + this.adNombre
        );
      } else if (accion == 2) {
        this.adAccion = 2;
        this.desactivar();
        this.mostarNtoficacion(
          "info",
          "Se anulo la programación de la tarjeta: " + this.adNombre
        );
      } else {
        this.adModal = 0;
      }
    },
     RevertirTarjetaMostrar(item) {
      // this.adModal = 1;
      this.adNombre = item.codigo;
      this.adId = item.idregistroanomalia;
      this.Revertir();
      this.mostarNtoficacion("success","Reversión de la tarjeta confirmada,con codigo : " + this.adNombre);

    },
    RevertirTarjetaMostrarShe(item) {
      // this.adModal = 1;
      this.adNombre = item.codigo;
      this.adId = item.idregistroshe;
      console.log('entro a ala funtion')
      this.RevertirShe();
      this.mostarNtoficacion("success","Reversión de la tarjeta confirmada,con codigo : " + this.adNombre);

    },
    mostarNtoficacion(color, texto) {
      this.snackbar = true;
      this.color = color;
      this.text = texto;
      this.timeout = 2000;
    },
    activarDesactivarCerrar() {
      this.adModal = 0;
    },
    activar() {
      let me = this;
      axios
        .put("api/RegistrosAnomalias/Activar/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listarBusqueda();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    desactivar() {
      let me = this;
      axios
        .put("api/RegistrosAnomalias/Desactivar/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
         me.listarBusqueda();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    Revertir() {
      let me = this;
      axios
        .put("api/RegistrosAnomalias/RevertirRecepcion/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listarBusqueda();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
    RevertirShe() {
      let me = this;
      axios
        .put("api/RegistroShes/RevertirRecepcion/" + this.adId, {})
        .then(function(response) {
          me.adModal = 0;
          me.adAccion = 0;
          me.adNombre = "";
          me.adId = "";
          me.listarBusquedaShe();
        })
        .catch(function(error) {
          console.log(error);
        });
    },
     open4() {
        this.$notify.error({
          title: 'Error',
          message: 'La fecha de inicio no puede ser mayor la fecha final'
        });
      }

  }
};
</script>



