
<template>
  <v-container fluid grid-list-md pa-4 >
    <v-layout row wrap>
      <v-flex d-flex xs4>
            <v-img :src="require('../../../assets/logo_unilever.png')" contain height="80" align-center></v-img>
      </v-flex>
      <v-flex d-flex xs8 >
        <v-layout row wrap >
          <v-flex d-flex justify-center align-center>
              <h1 class="blue--text" >Daily Operation Board {{ maquina }}</h1>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>


    <v-layout row wrap mt-5>
      <v-flex xs7>  
        <v-layout row wrap>
          <v-flex d-flex xs12>
            <v-card color="indigo" dark>
              <v-card-text class="text-md-center">SAFETY</v-card-text>
            </v-card>
          </v-flex>
          
        <v-flex d-flex xs12 >
            <v-layout row wrap >
                <v-flex d-flex xs3>
                    <v-card elevation="0">
                            <v-card-text>SAFELY</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex row d-flex xs9>
                    <v-layout column wrap>
                        <v-flex d-flex>
                            <v-layout  xs9 row wrap>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                        <v-card-text class="text-md-center">Definición</v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>

                        <v-flex d-flex>
                            <v-layout  xs9 row wrap>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                       <v-card-text class="text-md-right">Injuries</v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                        <v-text-field
                                            v-model="injuries"
                                            :rules="nameRules"
                                            :counter="15"
                                            required
                                        ></v-text-field>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0"> 
                                        <v-text-field v-model="definition" :rules="nameRules" :counter="15" required></v-text-field>
                                        
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>
 
                        <v-flex d-flex>
                            <v-layout  xs9 row wrap>
                                <v-flex xs3 >
                                    <v-card elevation="0">
                                       <v-card-text class="text-md-right">Near Misses</v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex xs3 >
                                    <v-card elevation="0">
                                        <v-text-field
                                            v-model="near_misses"
                                            :rules="nameRules"
                                            :counter="15"
                                            required
                                        ></v-text-field>
                                    </v-card>
                                </v-flex>
                                <v-flex xs3 >
                                    <v-card elevation="0">
                                        <v-card-text class="pa-0">
                                            <v-text-field v-model="definition2" :mask="mask" label="##"></v-text-field>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex xs3 >
                                    <v-card elevation="0">
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                 </v-flex>
                 
            </v-layout>
        </v-flex>

        <v-flex d-flex xs12 >
            <v-layout row wrap>
                <v-flex d-flex xs3>
                    <v-card elevation="0">
                            <v-card-text>PSM</v-card-text>
                    </v-card>
                </v-flex>
                <v-flex row d-flex xs9>
                    <v-layout column wrap>
                        <v-flex d-flex>
                            <v-layout  xs9 row wrap>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                        <v-card-text class="text-md-center">Severity (1-2-3)</v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>

                        <v-flex d-flex>
                            <v-layout  xs9 row wrap>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                       <v-card-text class="text-md-right">Indicents</v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                        <v-text-field
                                            v-model="indicents"
                                            :rules="nameRules"
                                            :counter="15"
                                            required
                                        ></v-text-field>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0"> 
                                        <v-text-field
                                            v-model="severity"
                                            :rules="nameRules"
                                            :counter="15"
                                            required
                                        ></v-text-field>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs3 >
                                    <v-card elevation="0">
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>

                        <v-flex d-flex>
                            <v-layout  xs9 row wrap>
                                <v-flex xs3 >
                                    <v-card elevation="0">
                                       <v-card-text class="text-md-right">Near Misses</v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex xs3 >
                                    <v-card elevation="0">
                                        <v-text-field
                                            v-model="near_misses_severity"
                                            :rules="nameRules"
                                            :counter="15"
                                            required
                                        ></v-text-field>
                                    </v-card>
                                </v-flex>
                                <v-flex xs3 >
                                    <v-card elevation="0">
                                        <v-card-text class="pa-0">
                                            <v-text-field v-model="severity2" :mask="mask" label="##"></v-text-field>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex xs3 >
                                    <v-card elevation="0">
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                 </v-flex>
                 
            </v-layout>
        </v-flex>

        </v-layout>
      </v-flex>
      <v-flex xs5>  
        <v-layout row wrap>
          <v-flex  xs12 >
            <v-card color="indigo" dark>
              <v-card-text class="text-md-center">QUALITY</v-card-text>
            </v-card>
          </v-flex>
          <v-flex d-flex xs12 >
            <v-layout row wrap >
                <v-flex row d-flex>
                    <v-layout column wrap>
                        <v-flex d-flex class="pa-0">
                            <v-layout  xs9 row wrap>
                                <v-flex d-flex xs4 >
                                    <v-card elevation="0">
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs4 >
                                    <v-card elevation="0">
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs4 >
                                    <v-card elevation="0">
                                        <v-card-text class="text-md-center">#</v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>

                        <v-flex d-flex class="pa-0">
                            <v-layout  xs9 row wrap>
                                <v-flex d-flex xs6 >
                                    <v-card elevation="0">
                                       <v-card-text class="text-md-right">Incidente D (incl. CRQS Red)</v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs2 justify-center align-center>
                                    <v-card elevation="0" >
                                        <v-card-text class="text-xs-center pa-0">
                                            <template v-if="campo1!=0">
                                                <v-icon color="red">info</v-icon>
                                            </template>
                                            <template v-else>
                                                <v-icon color="success">info</v-icon>
                                            </template>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs4 >
                                    <v-card elevation="0"> 
                                        <v-card-text class="text-xs-center pa-0">
                                            <v-text-field class="text-xs-center" outlined v-model="campo1" :mask="mask" label="##"></v-text-field>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>

                        <v-flex d-flex class="pa-0">
                            <v-layout  xs9 row wrap>
                                <v-flex d-flex xs6 >
                                    <v-card elevation="0">
                                       <v-card-text class="text-md-right">CRQS Amber</v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs2 justify-center align-center>
                                    <v-card elevation="0" >
                                        <v-card-text class="text-xs-center pa-0">
                                            <template v-if="campo1!=0">
                                                <v-icon color="red">info</v-icon>
                                            </template>
                                            <template v-else>
                                                <v-icon color="success">info</v-icon>
                                            </template>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs4 >
                                    <v-card elevation="0"> 
                                        <v-card-text class="text-xs-center pa-0">
                                            <v-text-field class="text-xs-center" outlined v-model="campo1" :mask="mask" label="##"></v-text-field>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                        
                        <v-flex d-flex class="pa-0">
                            <v-layout  xs9 row wrap>
                                <v-flex d-flex xs6 >
                                    <v-card elevation="0">
                                       <v-card-text class="text-md-right">Parametros de proceso NO completados</v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs2 justify-center align-center>
                                    <v-card elevation="0" >
                                        <v-card-text class="text-xs-center pa-0">
                                            <template v-if="campo3!=0">
                                                <v-icon color="red">info</v-icon>
                                            </template>
                                            <template v-else>
                                                <v-icon color="success">info</v-icon>
                                            </template>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs4 >
                                    <v-card elevation="0"> 
                                        <v-card-text class="text-xs-center pa-0">
                                            <v-text-field class="text-xs-center" outlined v-model="campo3" :mask="mask" label="##"></v-text-field>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>

                        <v-flex d-flex class="pa-0">
                            <v-layout  xs9 row wrap>
                                <v-flex d-flex xs6 >
                                    <v-card elevation="0">
                                       <v-card-text class="text-md-right">Non-compliant process parameters</v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs2 justify-center align-center>
                                    <v-card elevation="0" >
                                        <v-card-text class="text-xs-center pa-0">
                                            <template v-if="campo4!=0">
                                                <v-icon color="red">info</v-icon>
                                            </template>
                                            <template v-else>
                                                <v-icon color="success">info</v-icon>
                                            </template>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs4 >
                                    <v-card elevation="0"> 
                                        <v-card-text class="text-xs-center pa-0">
                                            <v-text-field class="text-xs-center" outlined v-model="campo4" :mask="mask" label="##"></v-text-field>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>

                        <v-flex d-flex class="pa-0">
                            <v-layout  xs9 row wrap>
                                <v-flex d-flex xs6 >
                                    <v-card elevation="0">
                                       <v-card-text class="text-md-right">Cuerpo extraño</v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs2 justify-center align-center>
                                    <v-card elevation="0" >
                                        <v-card-text class="text-xs-center pa-0">
                                            <template v-if="campo5!=0">
                                                <v-icon color="red">info</v-icon>
                                            </template>
                                            <template v-else>
                                                <v-icon color="success">info</v-icon>
                                            </template>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs4 >
                                    <v-card elevation="0"> 
                                        <v-card-text class="text-xs-center pa-0">
                                            <v-text-field class="text-xs-center" outlined v-model="campo5" :mask="mask" label="##"></v-text-field>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>

                        <v-flex d-flex class="pa-0">
                            <v-layout  xs9 row wrap>
                                <v-flex d-flex xs6 >
                                    <v-card elevation="0">
                                       <v-card-text class="text-md-right">SNCR </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs2 justify-center align-center>
                                    <v-card elevation="0" >
                                        <v-card-text class="text-xs-center pa-0">
                                            <template v-if="campo6!=0">
                                                <v-icon color="red">info</v-icon>
                                            </template>
                                            <template v-else>
                                                <v-icon color="success">info</v-icon>
                                            </template>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                                <v-flex d-flex xs4 >
                                    <v-card elevation="0"> 
                                        <v-card-text class="text-xs-center pa-0">
                                            <v-text-field class="text-xs-center" outlined v-model="campo6" :mask="mask" label="##"></v-text-field>
                                        </v-card-text>
                                    </v-card>
                                </v-flex>
                            </v-layout>
                        </v-flex>
                    </v-layout>
                 </v-flex>
            </v-layout>
        </v-flex>
        </v-layout>
      </v-flex>

      <v-flex xs12>  
        <v-layout row wrap>
          <v-flex  xs12 >
            <v-card color="indigo" dark>
              <v-card-text class="text-md-center">SERVICIO Y PERFORMANCE</v-card-text>
            </v-card>
          </v-flex>
        </v-layout>
      </v-flex>
    </v-layout>







    <v-layout row wrap mt-5>
      <v-flex d-flex xs12 sm6 md4>
        <v-card color="purple" dark>
          <v-card-title primary class="title"></v-card-title>
            <v-img :src="require('../../../assets/logo_unilever.png')" contain height="80" align-center></v-img>
        </v-card>
      </v-flex>
      <v-flex d-flex xs12 sm6 md3>
        <v-layout row wrap>
          <v-flex d-flex>
            <v-card color="indigo" dark>
              <v-card-text>{{ lorem.slice(0, 70) }}</v-card-text>
            </v-card>
          </v-flex>
          <v-flex d-flex>
            <v-layout row wrap>
              <v-flex v-for="n in 2" :key="n" d-flex xs12 >
                <v-card color="red lighten-2" dark >
                  <v-card-text>{{ lorem.slice(0, 40) }}</v-card-text>
                </v-card>
              </v-flex>
            </v-layout>
          </v-flex>
        </v-layout>
      </v-flex>
      <v-flex d-flex xs12 sm6 md2 child-flex>
        <v-card color="green lighten-2" dark>
          <v-card-text>{{ lorem.slice(0, 90) }}</v-card-text>
        </v-card>
      </v-flex>
      <v-flex d-flex xs12 sm6 md3>
        <v-card color="blue lighten-2" dark>
          <v-card-text>{{ lorem.slice(0, 100) }}</v-card-text>
        </v-card>
      </v-flex>
    </v-layout>

  </v-container>
</template>

<script>
    import axios from 'axios'
    export default {
        data () {
            return{
                maquina:"Bosch 1",
                injuries:"", 
                definition:"", 
                near_misses:"",  
                definition2:"",
                indicents:"", 
                severity:"", 
                near_misses_severity:"", 
                severity2:"",
                mask:'##',
                campo1:0,
                campo2:0,
                nameRules: [
                    v => !!v || 'Name is required',
                    v => v.length <= 15 || 'Name must be less than 10 characters'
                ],
                lorem: `Lorem ipsum dolor sit amet, mel at clita quando. Te sit oratio vituperatoribus, nam ad ipsum posidonium mediocritatem, explicari dissentiunt cu mea. Repudiare disputationi vim in, mollis iriure nec cu, alienum argumentum ius ad. Pri eu justo aeque torquatos.`
            }   
        }
                  
    }
</script>